.lingvo-pagination-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 0 20px 0;
  justify-content: space-between;
  background: white;
  border-radius: 4px;

  &__total {
    flex: 0 1 auto;
    padding: 0 4px 0 0;
  }

  &__pages {
    flex: 1 1 auto;
    text-align: right;
  }

  &__total + &__pages {
    padding-left: 15px;
  }

  &__goto {
    flex: 0 1 auto;
    text-align: right;
  }

  &__pages + &__goto {
    margin-left: 26px;
  }

  @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
    flex-wrap: wrap;

    &__total {
      flex: 1 1 100%;
      padding: 0 0 6px 0;
    }

    &__total + &__pages {
      flex: 0 1 auto;
      padding-left: 0;
      margin-left: -4px;
    }

    &__total + &__pages + &__goto {
      flex: 1 1 auto;
      text-align: left;
    }
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;

    &__goto {
      padding-left: 4px;
    }

    &__pages + &__goto {
      margin-left: 0;
      padding-top: 6px;
    }
    
    &__total {
      padding-bottom: 6px;
      padding-left: 4px;
    }

    &__total + &__pages {
      padding-left: 0;
      margin-left: 0;
    }
  }
}

.lingvo-pagination {
  border: none !important;
  box-shadow: none !important;
  font-family: Rubik, Arial, sans-serif !important;
  font-size: 14px !important;
  line-height: 22px !important;

  & .item {
    margin: 4px !important;
    border: 1px solid #dcdcdc !important;
    background-color: #fff !important;
    border-radius: 8px !important;
    padding: 4px 8px !important;
    min-width: 32px !important;
    line-height: 22px !important;
    justify-content: center !important;
    outline: none !important;
    transition: background-color .1s ease, box-shadow .1s ease, color .1s ease, border-color .1s ease !important;

    &::before {
      content: none !important;
    }

    &:hover {
      background-color: #edecf6 !important;
    }

    &.active {
      background-color: #5d54cd !important;
      color: #fff !important;
      border: 1px solid #5d54cd !important;
    }

    &[type="ellipsisItem"] {
      border: none !important;
      color: #dcdcdc !important;
      letter-spacing: 3px !important;
      background-color: #fff !important;
      padding-left: 4px !important;
      padding-right: 2px !important;
      min-width: auto !important;
      font-weight: 500 !important;
    }

    &[type="prevItem"],
    &[type="nextItem"] {
      font-size: 16px !important;
      font-weight: normal !important;
    }

    &[type="firstItem"],
    &[type="lastItem"] {
      font-size: 18px !important;
      font-weight: normal !important;
    }
    
  }

  &.ui.menu .item.disabled,
  &.ui.menu .item.disabled:hover {
    color: #999ca0 !important;
    background-color: #fff !important;
  }

  @media only screen and (max-device-width: 580px), only screen and (max-width: 580px) {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

