/* lingvo cognate language */
.lingvo-cognate-language {
  background: #fafafa;
  margin: 0 0 10px 0;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;

  &:last-of-type {
    margin-bottom: 15px;
  }
}
/* /lingvo cognate language */

/* lingvo cognate grid */
.lingvo-cognate-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0;
  font-family: Rubik, Arial, sans-serif;
  font-size: 16px;

  &__name {
    margin: 0 10px 0 0;
    line-height: 42px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__name:not(:first-child) + &__select {
    margin-top: 10px;
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    grid-template-columns: 100%;
    padding-left: 0;

    &__name {
      margin: 0 0 10px 0;
      line-height: 24px;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    &__name:not(:first-child) + &__select {
      margin-top: 0;
    }
  }

}
/* /lingvo cognate grid */

/* lingvo cognate checkbox */
.lingvo-cognate-checkbox {
  padding: 8px 0 0 0;
  margin: 0 0 7px 0;

  &_result {
    padding: 6px 0 0 0;
    margin: 0 0 5px 0;
  }

  &_all-langs {
    padding: 20px 0 0 0;
    margin: 0 0 20px 0;
  }

  &_lang {
    padding: 0 0 0 14px;
    margin: 0 0 10px 0;
  }

  & .lingvo-checkbox.ui.checkbox {
    font-size: 16px !important;
    line-height: 22px !important;

    & label {
      font-size: 16px !important;
      line-height: 22px !important;
      padding-left: 25px !important;
    }

    & .box:before,
    & label:before {
      top: 2px !important;
      line-height: 17px !important;
    }

    & .box:after,
    & label:after {
      top: 2px !important;
      line-height: 17px !important;
    }

    & input[type=checkbox] {
      top: 2px !important;
    }

    & input:not([type=radio]):indeterminate ~ .box:after,
    & input:not([type=radio]):indeterminate ~ label:after {
      top: 3px !important;
    }
  }
}
/* /lingvo cognate checkbox */

/* lingvo cognate sub language */
.lingvo-cognate-sub-language {
  background: transparent;
  padding: 16px 14px 12px 14px;
  border-radius: 10px;
  margin: 0 0 10px 0;
  font-family: Rubik, Arial, sans-serif;
  font-size: 16px;

  &:nth-child(2n) {
    background: #fff;
  }

  & .lingvo-checkbox.ui.checkbox {
    font-size: 16px !important;

    & label {
      font-size: 16px !important;
      padding-left: 25px !important;
    }
  }

  & .ui.breadcrumb {
    font-size: 16px !important;
    line-height: 22px !important;

    & .divider {
      opacity: 1 !important;
      color: #999CA0 !important;
      font-size: 17px !important;
    }
  }

  & .lingvo-checkbox.ui.checkbox .ui.breadcrumb {
    margin-top: -3px;
  }

  & .lingvo-cognate-grid {
    padding-top: 15px;
    padding-left: 30px;
  }
}
/* /lingvo cognate sub language */

/* lingvo cognate language header */
.lingvo-cognate-language-header {
  display: block !important;
  margin: 0 !important;
  padding: 10px 40px 10px 14px !important;
  font-size: 18px !important;
  line-height: 24px !important;
  position: relative !important;
  cursor: pointer !important;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 18px;
    width: 16px;
    height: 10px;
    padding: 0;
    background: url("../../images/icon_arrow_b.svg") 0 0 no-repeat;
  }

  &_open {
    &::before {
      transform: rotate(180deg);
    }
  }

  & .ui.breadcrumb {
    font-family: Mulish, Arial, sans-serif !important;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 700 !important;
    color: #5d54cd !important;

    & .divider {
      color: #5d54cd !important;
      opacity: 1 !important;
      font-size: 17px !important;
    }
  }

  & .lingvo-icon_trash {
    cursor: pointer;
    transition: 0.2s;
    margin: 0 0 0 17px;
    vertical-align: middle;

    &:hover {
      background-color: #DB4E4E;
    }
  }
}
/* /lingvo cognate language header */

/* lingvo cognate loading */
.lingvo-cognate-loading {
  padding: 0 0 0 14px;
  margin: 0;
  font-size: 16px;
}
/* /lingvo cognate loading */

/* lingvo cognate header */
.lingvo-cognate-header {
  display: block !important;
  margin: 0 0 14px 0 !important;
  padding: 0 !important;
  font-size: 18px !important;
  line-height: 24px !important;

  & .ui.breadcrumb {
    font-family: Mulish, Arial, sans-serif !important;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 700 !important;
    color: #5d54cd !important;

    & .divider {
      color: #5d54cd !important;
      opacity: 1 !important;
      font-size: 17px !important;
    }
  }
}
/* /lingvo cognate header */

/* lingvo cognate result segment */
.lingvo-cognate-result-segment {
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 10px 0;
  position: relative;

  &__block {
    margin: 0;
    padding: 0 0 6px 0;
  }

  @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
    padding: 20px;
  }
}
/* /lingvo cognate result segment */

/* lingvo cognate result tit */
.lingvo-cognate-result-tit {
  display: block;
  font-family: Mulish, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 4px 0;
}
/* /lingvo cognate result tit */

/* lingvo cognate header suggestions */
.lingvo-cognate-header-suggestions {
  font-family: Mulish, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  margin: 0 0 6px 0;
  color: #5d54cd;
}
/* /lingvo cognate header suggestions */

/* lingvo cognate count */
.lingvo-cognate-count {
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 6px 0;
}
/* /lingvo cognate count */

/* lingvo cognate header results */
.lingvo-cognate-header-results {
  font-family: Mulish, Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 4px 0;
}
/* /lingvo cognate header results */

/* lingvo cognate results */
.lingvo-cognate-results {
  align-content: center;
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    padding: 16px 20px;
    max-width: 286px;
    min-width: 286px;
    background: #fff;
    margin: 12px;
    box-shadow: 0px 100px 309px rgba(210, 208, 225, 0.24), 0px 41.7776px 129.093px rgba(210, 208, 225, 0.172525),
    0px 22.3363px 69.0192px rgba(210, 208, 225, 0.143066), 0px 12.5216px 38.6916px rgba(210, 208, 225, 0.12),
    0px 6.6501px 20.5488px rgba(210, 208, 225, 0.0969343), 0px 2.76726px 8.55082px rgba(210, 208, 225, 0.0674749);

  }

  &__number {
    font-family: Mulish, Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    color: #5d54cd;
    margin: 0 0 8px 0;
  }

  &__text {
    font-family: Mulish, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }
}
/* /lingvo cognate results */

/* lingvo cognate text */
.lingvo-cognate-text {
  margin: 0 0 24px 0;
  font-family: Rubik, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  & a {
    color: #5d54cd;

    &:hover {
      color: #5d54cd;
      text-decoration: underline;
    }

    &:active {
      color: #372f9d;
    }
  }

  &__title {
    font-family: Mulish, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 2px 0;
    display: block;
  }

  &__list {
    margin: 0;
  }

  &__item {
    padding: 3px 0;
    margin: 0;
  }
}
/* /lingvo cognate text */

/* lingvo cognate result block */
.lingvo-cognate-result-block {
  & .lingvo-pagination {
    background: transparent !important;
  }
}
/* /lingvo cognate result block */