.lingvo-org-translation {
  &__header {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    font-family: Mulish;
    margin: 0 0 12px 0;

    .lingvo-translation__content + & {
      margin-top: 26px;
    }
  }
}