{
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    ["lodash", { "id": ["lodash", "recompose", "semantic-ui-react"] }],
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ],
  "presets": [
    [
      "env",
      { "targets": { "browsers": ["last 2 major versions"] }, "modules": false, "loose": true }
    ],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
