{
  "plugins": [
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    ["lodash", { "id": ["lodash", "recompose", "semantic-ui-react"] }],
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
        "presets": ["react-optimize"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
