src/api/http.js
src/api/index.js
src/api/locale.js
src/api/user.js
src/api/utils.js

src/components/ApproveModal/
src/components/BackTopButton/
src/components/BanModal/
src/components/CognateAnalysisModal/
src/components/Columns/
src/components/ConverEafModal/
src/components/CreateFieldModal/
src/components/CreateLanguageModal/
src/components/CreateOrganizationModal/
src/components/DictionaryOrganizationsModal/
src/components/DictionaryPropertiesModal/
src/components/EditLanguageMetadata/
src/components/EditLanguageModal/
src/components/EditPerspectiveMetadata/
src/components/EditUserModal/
src/components/FormModal/
src/components/GroupingTagModal/
src/components/Languages/
src/components/LexicalEntry/
src/components/LexicalEntryByIds/
src/components/LexicalEntryModal/
src/components/LinkModal/
src/components/MapAreas/
src/components/MarkupModal/
src/components/MarkupViewer/
src/components/Merge/
src/components/Modals/
src/components/PerspectivePropertiesModal/
src/components/PhonemicAnalysisModal/
src/components/PhonologyModal/
src/components/Placeholder/
src/components/Player/
src/components/PlayerGlobal/
src/components/PlayerModal/
src/components/RolesModal/
src/components/SaveDictionaryModal/
src/components/Search/
src/components/SignInModal/
src/components/SignUpModal/
src/components/StatisticsModal/
src/components/TaskList/
src/components/TranslatedLabel/
src/components/Translation/
src/components/TranslationAtom/
src/components/TranslationGist/
src/components/Tree/
src/components/Wavesurfer/

src/config/

src/ducks/apolloClient.js
src/ducks/ban.js
src/ducks/blobs.js
src/ducks/cognateAnalysis.js
src/ducks/createDictionary.js
src/ducks/createOrganization.js
src/ducks/dialeqtImport.js
src/ducks/dictImport.js
src/ducks/dictionaryOrganizations.js
src/ducks/dictionaryProperties.js
src/ducks/fields.js
src/ducks/index.js
src/ducks/language.js
src/ducks/locale.js
src/ducks/markup.js
src/ducks/modals.js
src/ducks/perspective.js
src/ducks/perspectiveProperties.js
src/ducks/phonemicAnalysis.js
src/ducks/phonology.js
src/ducks/player.js
src/ducks/roles.js
src/ducks/saga.js
src/ducks/saveDictionary.js
src/ducks/search.js
src/ducks/snackbar.js
src/ducks/statistics.js
src/ducks/task.js
src/ducks/user.js

src/graphql/language.js

src/Layout/Locale.js
src/Layout/Snackbar.js
src/Layout/style.scss
src/Layout/Tasks.js
src/Layout/TasksSidebar.js

src/pages/CreateDictionary/Fields.js
src/pages/CreateDictionary/graphql.js
src/pages/CreateDictionary/Perspectives.js
src/pages/Dashboard/
src/pages/Desktop/
src/pages/DictImport/
src/pages/EditTranslations/
src/pages/Files/
src/pages/Grants/
src/pages/Info/
src/pages/Languages/
src/pages/Map/
src/pages/NotFound/
src/pages/Organizations/
src/pages/Requests/
src/pages/Search/
src/pages/DialeqtImport.js
src/pages/utils.js

src/sagas/

src/styles/

src/utils/

src/index.dev.html
src/index.html
src/index.js
src/index.prod.html
src/reducer.js