.langs-nav-list {
  font-size: 16px;
  line-height: 24px;

  &__wrap.segment.ui {
    margin-top: 14px;
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__item-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__inner-item {
    display: inline;
  }

  &__letter {
    min-width: 20px;
    font-family: Mulish, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #5d54cd;
  }

  &__button {
    font-family: Rubik, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    color: #333;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
  }

  &__button:hover {
    color: #4e46b4;
    cursor: pointer;
  }
}
