.search-advanced-filter {
  &__header {
    margin-bottom: 10px;
  }

  &__field .ui.dropdown {
    min-width: 25em;
  }

  &__field .button {
    margin-top: 15px;
    margin-right: 15px;
  }

  &__warning {
    margin-top: 15px;
  }
}