.back-top-button {
  position: fixed;
  bottom: 25px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10000;

  &.button {
    padding-left: 11px;
    font-size: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &_show {
    opacity: 1;
  }

  .icon {
    color: #fff;
    font-size: 25px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .back-top-button {
    bottom: 30px;
    right: 150px;
    &.button {
      font-size: 14px;
      width: auto;
      height: auto;
    }

    .icon {
      margin-left: 0;
      font-size: 20px;
    }
  }
}
