.authorsRoute {
  position: relative;
  padding-bottom: 70px;
  
  .authors {
    width: 1127px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 30px;
  }

  .creator-title {
    color: #5D54CD;
    font-family: Mulish, Arial, sans-serif;
    font-weight: bold;
  }

  .ui.stackable.cards {
    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      & {
        margin-top: 0;
      }
    }
  }

}
