.token_from {
  background-color: #a0ffff;
}

.token_case {
  background-color: #eaeaff;
}

.token_to {
  background-color: #b0ffe0;
}

.clickable {
  cursor: pointer;
}

.sorting_item {
  margin-top: 0.5em;
}

.sort_verb_selection {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0.5em !important;
}
