.dictionariesAll {
  padding-bottom: 70px;
}

.dictionaries-tabs {
  .ui.tabular.menu {
    border-bottom: none;

    .item {
      margin-right: 2px;
      font-size: 16px;
      border: 1px solid #f0f0f0;
      border-radius: 8px 8px 0px 0px;
      margin-bottom: -1px; /* new!!!!! */
      font-family: Rubik, Arial, sans-serif; /* new!!!!!! */
      line-height: 22px; /* new!!!!!!!! */
      padding: 9px 16px; /* new!!!!!!! */
      -webkit-transition: background-color .1s ease, color .1s ease, -webkit-box-shadow .1s ease, border-color .1s ease, font-weight .1s ease;
      transition: background-color .1s ease, color .1s ease, -webkit-box-shadow .1s ease, border-color .1s ease, font-weight .1s ease;
      transition: background-color .1s ease, box-shadow .1s ease, color .1s ease, border-color .1s ease, font-weight .1s ease;
      transition: background-color .1s ease, box-shadow .1s ease, color .1s ease, border-color .1s ease, font-weight .1s ease;

      &.active {
        color: white;
        background-color: #5d54cd;
        border-color: #5d54cd; /* new!!!!! */
        font-weight: 500;
        border-radius: 8px 8px 0px 0px !important;
      }
    }

    @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
      .item {
        padding: 9px 12px; /* new!!!!!!! */
      }
    }
  }

  .ui.attached.segment {
    padding: 0;
    border: none;

    .container-gray {
      border-top-left-radius: 0;
    }
  }
}

.dict-published {
  /*color: green;*/
  color: #57B894; /* new!!!!!!! */
}
