@font-face {
  font-family: GentiumPlusW;
  src: url("fonts/GentiumPlus-R.woff");
}

@font-face {
  font-family: GentiumPlusW;
  font-style: italic;
  src: url("fonts/GentiumPlus-I.woff");
}

body {
  //background-color: rgb(240, 202, 158);
  background-color: #372F9D;
  font-family: "Noto Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  background: url(../images/background2.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}

.gentium {
  font-family: "GentiumPlusW", sans-serif !important;
  font-size: 1.2em;
}

.entity {
  ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
    ul {
      list-style-type: none;
      background: url(../images/vline.png) repeat-y;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
    li {
      margin: 0;
      padding: 0 12px;
      line-height: 20px;
      background: url(../images/node.png) no-repeat;
      color: #333;
    }
    li.last {
      background: #ffffff url(../images/lastnode.png) no-repeat;
    }
  }
}

.entityHeader {
  ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
    ul {
      list-style-type: none;
      background: url(../images/vline.png) repeat-y;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
    li {
      margin: 0;
      padding: 0 12px;
      line-height: 20px;
      background: url(../images/node.png) no-repeat;
      color: #333;
    }
    li.last {
      background: #f9fafb url(../images/lastnode.png) no-repeat;
    }
  }
}

.rose_background {
  background: url(../images/display_mode_background.png) !important;
}

.top_menu {
  font-size: 1.2em !important;
  //background-color: rgb(216, 180, 138) !important;
  background-color: #FAFAFA !important;
  color: rgb(0, 0, 0) !important;
}

/** Inverted colors support */

.inverted {
  .rst__lineHalfHorizontalRight::before,
  .rst__lineFullVertical::after,
  .rst__lineHalfVerticalTop::after,
  .rst__lineHalfVerticalBottom::after,
  .rst__lineChildren::after {
    background: white;
  }

  .tabular {
    .item:not(.active) {
      color: white !important;
    }
  }

  .right.angle.icon {
    color: white !important;
  }
}

.white {
  color: white !important;
}
.black {
  color: black !important;
}

