@font-face {
  font-family: GentiumPlusW;
  src: url("fonts/GentiumPlus-R.woff");
}

@font-face {
  font-family: GentiumPlusW;
  font-style: italic;
  src: url("fonts/GentiumPlus-I.woff");
}

@font-face {
  font-family: Rubik;
  src: url('fonts/Rubik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url('fonts/Rubik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  src: url('fonts/Rubik-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  src: url('fonts/Mulish-Regular.woff2') format('woff2'), 
        url('fonts/Mulish-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  src: url('fonts/Mulish-Bold.woff2') format('woff2'), 
        url('fonts/Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  src: url('fonts/Mulish-ExtraBold.woff2') format('woff2'), 
        url('fonts/Mulish-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Karla;
  src: url('fonts/karla-variablefont_wght-webfont.woff2') format('woff2'), 
        url('fonts/karla-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Rubik, Arial, sans-serif;
  font-weight: normal;
}

.background-cards {
  position: relative;

  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    
    width: 100%;
    
    height: 200px;
    /*background: url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") 100% 60px no-repeat;*/
    background: url("../images/snow.svg") 50% 50% repeat, url("../images/ny_toys.png") 60px 0 no-repeat, url("../images/ny_toys.png") calc(100% - 60px) 0 no-repeat, url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") 100% 60px no-repeat;
    background-color: #372F9D;

    /* for newyear style */
    @media only screen and (max-device-width: 1150px), only screen and (max-width: 1150px) {
      background: url("../images/snow.svg") 50% 50% repeat, url("../images/ny_toys.png") 10px 0 no-repeat, url("../images/ny_toys.png") calc(100% - 5px) 0 no-repeat, url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") 100% 60px no-repeat;
      background-color: #372F9D;
    }
    /* /for newyear style */

    /* for newyear style */
    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      background: url("../images/ny_toys_small.png") 21px -9px no-repeat, url("../images/ny_toys_small.png") calc(100% - 21px) -9px no-repeat, url("../images/snow_small.svg") 50% 50% repeat, url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") 100% 60px no-repeat;
      background-color: #372F9D;
    }
    /* /for newyear style */
  }
}

.background-header {
  /*background: url("../images/rectangle1.svg") 0 -185px no-repeat, url("../images/rectangle2.svg") 100% 35px no-repeat;*/
  background: url("../images/snow.svg") 50% 50% repeat, url("../images/rectangle1.svg") 0 -185px no-repeat, url("../images/rectangle2.svg") 100% 35px no-repeat;
  background-color: #372F9D;

  padding: 26px 0;
  margin: 0 0 26px 0;

  /* for newyear style */
  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    background: url("../images/snow_small.svg") 50% 50% repeat, url("../images/rectangle1.svg") 0 -185px no-repeat, url("../images/rectangle2.svg") 100% 35px no-repeat;
    background-color: #372F9D;
  }
  /* /for newyear style */
}

.background-main-page {
  /*background: url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") calc(100% + 30px) calc(100% + 75px) no-repeat;*/
  background: url("../images/snowtree.svg") calc(100% - 70px) 100% no-repeat, url("../images/snow.svg") 50% 50% repeat, url("../images/ny_toys.png") 60px 0 no-repeat, url("../images/ny_toys.png") calc(100% - 60px) 0 no-repeat, url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") calc(100% + 30px) calc(100% + 75px) no-repeat;
  background-color: #372F9D;

  padding: 0 0 24px 0;
  margin: 0 0 20px 0;

  & .card-item {
    box-shadow: none !important;

    &:hover {
      transition: 0.3s;
      border-radius: 12px 12px 16px 16px;
    }
  }

  /* for newyear style */
  @media only screen and (max-device-width: 1150px), only screen and (max-width: 1150px) {
    background: url("../images/snowtree.svg") calc(100% - 20px) 100% no-repeat, url("../images/snow.svg") 50% 50% repeat, url("../images/ny_toys.png") 10px 0 no-repeat, url("../images/ny_toys.png") calc(100% - 5px) 0 no-repeat, url("../images/rectangle1.svg") 0 -110px no-repeat, url("../images/rectangle2.svg") calc(100% + 30px) calc(100% + 75px) no-repeat;
    background-color: #372F9D;
  }
  /* /for newyear style */

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    padding-bottom: 20px;
    /*background: url("../images/rectangle1.svg") -70px -170px no-repeat, url("../images/rectangle2.svg") calc(100% + 30px) calc(100% + 275px) no-repeat;*/
    background: url("../images/snowtree_small.svg") calc(100% - 18px) 100% no-repeat, url("../images/ny_toys_small.png") 21px -9px no-repeat, url("../images/ny_toys_small.png") calc(100% - 21px) -9px no-repeat, url("../images/snow_small.svg") 50% 50% repeat, url("../images/rectangle1.svg") -70px -170px no-repeat, url("../images/rectangle2.svg") calc(100% + 30px) calc(100% + 275px) no-repeat;
    background-color: #372F9D;
  }
}

.page-content {
  padding: 26px 20px 70px 20px;
  margin: 0;
  min-height: 100%;

  &_relative {
    position: relative;
  }
}

.background-content {
  /*background: url("../images/rectangle1.svg") 0 -80px no-repeat, url("../images/rectangle2.svg") 100% 110px no-repeat;*/
  background: url("../images/snow.svg") 50% 50% repeat, url("../images/rectangle1.svg") 0 -80px no-repeat, url("../images/rectangle2.svg") 100% 110px no-repeat;
  background-color: #372F9D;

  padding: 26px 20px 70px 20px;
  margin: 0;
  min-height: 100%;

  &_fix-height {
    height: 100%;
  }

  /* for newyear style */
  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    background: url("../images/snow_small.svg") 50% 50% repeat, url("../images/rectangle1.svg") 0 -80px no-repeat, url("../images/rectangle2.svg") 100% 110px no-repeat;
    background-color: #372F9D;
  }
  /* /for newyear style */
}

.gentium {
  font-family: "GentiumPlusW", sans-serif !important;
  font-size: 1.2em;
}

.entity {
  ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
    ul {
      list-style-type: none;
      background: url(../images/vline.png) repeat-y;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
    li {
      margin: 0;
      padding: 0 12px;
      line-height: 20px;
      background: url(../images/node.png) no-repeat;
      color: #333;
    }
    li.last {
      background: #ffffff url(../images/lastnode.png) no-repeat;
    }
  }
}

.entityHeader {
  ul {
    list-style-type: none;
    background: url(../images/vline.png) repeat-y;
    margin: 0;
    padding: 0;
    ul {
      list-style-type: none;
      background: url(../images/vline.png) repeat-y;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }
    li {
      margin: 0;
      padding: 0 12px;
      line-height: 20px;
      background: url(../images/node.png) no-repeat;
      color: #333;
    }
    li.last {
      background: #f9fafb url(../images/lastnode.png) no-repeat;
    }
  }
}

.rose_background {
  background: url(../images/display_mode_background.png) !important;
}

/* top menu */

.top-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
}

.top_menu {
  font-family: Rubik, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  background-color: #FAFAFA !important;
  color: #0B132A !important;

  &.ui.menu {
    border-bottom: 0;
    box-shadow: 0px 1px 0 rgba(8, 35, 48, 0.1);
    /*box-shadow: none;*/
  }

  &__item_signin {
    padding-right: 0 !important;
  }

  &__item_signup {
    padding-right: 30px !important;
  }

  &__item_user {
    padding-right: 30px !important;

    & .dropdown.icon {
      margin-left: 3px !important;
      font-size: 18px !important;
      line-height: 16px !important;
      color: #4F5665 !important;
    }

    & .icon-user {
      width: 20px;
      height: 20px;
    }
  }

  &__dropdown-user {
    display: none !important;
  }

  &__signed-icon {
    display: none !important;
  }

  &__item_tasks {
    padding-right: 35px !important;

    & .tasks-elem {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-top: 2px;
    }

    & .icon-tasks {
      width: 25px;
      height: auto;
      vertical-align: middle;
    }

    & .ui.circular.label.tasks-label {
      background-color: #DBD9F1 !important;
      color: #372F9D !important;
      font-size: 14px !important;
      line-height: 19px !important;
      text-align: center;
      font-weight: 500 !important;
      box-sizing: border-box;

      padding: 6px 7px 5px 7px !important;
      min-width: 30px !important;
      min-height: 30px !important;
      margin-left: -12px !important;
      margin-top: 0 !important;
    }

  }

  &__item_locale {
    font-size: 14px !important;
    font-weight: 400 !important;
    display: flex !important;
    align-items: center !important;

    .ui.menu &.ui.dropdown .menu > .active.item {
      font-weight: 500 !important;
    }

    & .flag {
      margin-right: 4px !important;
      margin-top: -2px !important;
      order: 1;
    }

    & .text {
      order: 2;
      color: #4F5665;
    }

    .ui.menu &.item > .icon {
      margin-left: 1px !important;
      order: 3;
      color: #4F5665;
      font-size: 18px !important;
      margin-top: -2px !important;
    }
  }

  & .lingvodoc-logo {
    font-family: Mulish;
    font-size: 22px;
    line-height: 27.5px;
    font-weight: 900;
    color: #4F5665;
  }

  & .sign_in {
    display: block;
    padding: 12px 0 12px 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 18.9px;
  }

  & .sign_up {
    display: block;
    padding: 12px 24px 12px 24px;
    background: #5D54CD;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    line-height: 18.9px;
  }

  @media only screen and (max-device-width: 755px), only screen and (max-width: 755px) {
    
    &__logo {
      padding-right: 0 !important;
    }

    & .lingvodoc-logo {
      font-size: 18px !important;
    }

    &__item_signin {
      padding-left: 15px !important;
    }

    &__item_signup {
      padding-left: 15px !important;
    }

    &__item_user {
      padding-right: 10px !important;
    }

    &__item_tasks {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    &__item_locale {
      padding-right: 5px !important;
    }
  }

  @media only screen and (max-device-width: 660px), only screen and (max-width: 660px) {
    
    &__item_signin {
      display: none !important;
    }

    &__item_signup {
      display: none !important;
    }

    &__item_user {
      & .menu {
        width: 210px !important;
        left: calc(50% - 104px) !important;

        & .item {
          white-space: normal !important;
        }
      }
    }

    &__dropdown-user {
      display: flex !important;
    }

    &__signed-user {
      display: none !important;
    }

    &__signed-icon {
      display: inline-block !important;
    }

    &__item_tasks {
      padding-left: 10px !important;
      font-size: 14px !important;

      & .icon-tasks {
        width: 20px;
        height: 20px;
      }
    }

    &__item_locale {
      padding-right: 5px !important;

      & > .text {
        display: none !important;
      }

      & > .flag {
        margin-right: 0 !important;
      }
    }

    & .sign_in {
      font-size: 14px;
      line-height: 16px;
    }

    & .sign_up {
      padding: 10px 14px;
      font-size: 14px;
      line-height: 16px;
    }

    & .tasks-elem {
      margin-top: 0;
    }

    & .ui.circular.label.tasks-label {
      padding: 4px 3px 3px 3px !important;
      min-width: 26px !important;
      min-height: 26px !important;
      margin-left: -10px !important;
      margin-top: 0 !important;
    }

    & .ui.dropdown > .text {
      font-size: 14px !important;
    }
  }

}

/* /top menu */

/** Inverted colors support */

.inverted {
  .rst__lineHalfHorizontalRight::before,
  .rst__lineFullVertical::after,
  .rst__lineHalfVerticalTop::after,
  .rst__lineHalfVerticalBottom::after,
  .rst__lineChildren::after {
    background: white;
  }

  .tabular {
    .item:not(.active) {
      color: white !important;
    }
  }

  .right.angle.icon {
    color: white !important;
  }
}

.white {
  color: white !important;
}
.black {
  color: black !important;
}

.container-white {
  background-color: #fff;
  border-radius: 8px;
  padding: 22px;
}

.container-gray {
  background-color: #FAFAFA;
  border-radius: 8px;
  padding: 22px;

  & + & {
    margin-top: 32px;
  }

  .cards-list + & {
    margin-top: 32px;
  }

  &_education {
    background: #FAFAFA;
    position: relative;

    & .langs-nav-list {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      right: 32px;
      bottom: 0;
      background: url("../images/education.svg") 0 0 no-repeat;
      width: 188px;
      height: 136px;
    }
    
    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      & {
        padding-bottom: 150px;
      }
    }
  }

}

.page-title {
  text-align: center;
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #fff;
}

.lingvodoc-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content {
    flex: 1 0 auto;
  }

  &__footer {
    flex: 0 0 auto;
  }
}

.lingvodoc-footer {
  background: #F4F4F4;
  padding: 40px;
  font-family: Rubik, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #4E4E4E;
  margin-top: 30px;

    &__inner {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }

    & a {
      color: #4E4E4E;
    }

    & a:hover {
      color: #4E46B4;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      padding: 20px;
      line-height: 22px;
    }
}

/* cards */

.cards-list {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  width: 100%;
  padding-top: 114px;

  flex-wrap: wrap;
}

.card-item {
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: flex-start;
  border-radius: 12px;
  padding: 24px 20px 57px 20px;
  max-width: 176px;
  min-width: 176px;
  background: #fff;
  position: relative;
  margin: 0 15px 36px 15px;

  min-height: 246px;

  box-shadow: 0px 100px 309px rgba(210, 208, 225, 0.24), 0px 41.7776px 129.093px rgba(210, 208, 225, 0.172525), 0px 22.3363px 69.0192px rgba(210, 208, 225, 0.143066), 0px 12.5216px 38.6916px rgba(210, 208, 225, 0.12), 0px 6.6501px 20.5488px rgba(210, 208, 225, 0.0969343), 0px 2.76726px 8.55082px rgba(210, 208, 225, 0.0674749);
  
  &__img {
    width: 136px;
    height: 98px;
    cursor: pointer;
    margin: 0 auto 25px auto;
  
    order: 1;

    &_languages {
      width: 124px;
    }

    &_grants,
    &_creators {
      height: 90px;
      margin-bottom: 33px;
    }

    &_offgrant {
      height: 104px;
      margin-bottom: 19px;
    }

    &_support {
      height: 108px;
      margin-bottom: 15px;
    }

    &_corpora {
      height: 80px;
      margin-bottom: 43px;
    }

    &_map {
      height: 101px;
      margin-bottom: 22px;
    }

    &_distance-map {
      height: 97px;
      margin-bottom: 26px;
    }

    &_search,
    &_help,
    &_telegram,
    &_dialeqt,
    &_import {
      height: 108px;
      margin-bottom: 15px;
    }

  }

  &__label {
    font-family: Mulish, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  
    color: rgb(0, 0, 0);
    text-align: left;
    
    transition: 0.3s;
  
    order: 2;
    cursor: pointer;

    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../images/arrow.svg") 20px 74px no-repeat;
    width: 100%;
    padding: 11px 20px 20px 20px;
    box-sizing: border-box;
    height: 110px;
    border-radius: 0 0 12px 12px;
    transition: 0.3s;

  }

  &:hover &__label {
    color: #fff;

    background-color: #5D54CD;
    background-image: url("../images/arrow_hover.svg");
  }

  &:active &__label {
    background-color: #4E46B4;
    background-image: url("../images/arrow_hover.svg");
    transition: none;
  }

  @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
    padding: 19px 15px;
    max-width: 155px;
    min-width: 155px;
    margin: 0 10px 20px 10px;
    min-height: 216.64px;

    &__img {
      width: 110px;
      height: auto;
    }

    &__label {
      padding: 9px 15px 15px 15px;
      height: 100px;
      background-position-x: 15px;
    }
  }

  @media only screen and (max-device-width: 365px), only screen and (max-width: 365px) {
    max-width: 132px;
    min-width: 132px;
    min-height: 184.5px;

    &__img {
      width: 101px;
      height: auto;
    }

    &__label {
      font-size: 12px;
      line-height: 16px;
      height: 84px;
      background-position-y: 60px;
    }
  }
}

/* /cards */

.lingvo-button-violet {

  &.ui.button,
  & .button {
    border-radius: 12px !important;
    font-family: Rubik, Arial, sans-serif !important;
    font-weight: 500 !important;
    background: #5D54CD !important;
    color: #fff !important;
    min-height: 40px !important;
    padding: 11px 16px !important;

    &:hover {
      background: #333 !important;
    }
  
    &.disabled,
    &:disabled {
      background: #fff !important;
      box-shadow: 0px 0px 0px 1px #999CA0 inset !important;
      color: #999CA0 !important;
      opacity: 1 !important;
    }

  }

  &_bradius-right.button,
  &_bradius-right .button {
    border-radius: 0 12px 12px 0 !important;
  }

  &.field.disabled {
    opacity: 1 !important;

    & .button.disabled,
    & .button:disabled {
      opacity: 1 !important;
    }
  }

  &_small {
    &.ui.button,
    & .button {
      font-size: 14px !important;
      line-height: 24px !important;
      padding: 4px 16px !important;
      min-height: 32px !important;
    }
  }

}

.lingvo-button-basic-black {
  border-radius: 12px !important;
  font-family: Rubik, Arial, sans-serif !important;
  font-weight: 500 !important;
  background: #fff !important;
  box-shadow: 0px 0px 0px 1px #333 inset !important;
  color: #333 !important;
  min-height: 40px !important;
  padding: 11px 16px !important;

  &:hover {
    background: #333 !important;
    box-shadow: 0px 0px 0px 1px #333 inset !important;
    color: #fff !important;
  }

  &.button.disabled,
  &.button:disabled {
    background: #fff !important;
    box-shadow: 0px 0px 0px 1px #999CA0 inset !important;
    color: #999CA0 !important;
    opacity: 1 !important;
  }

  &_small {
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 4px 16px !important;
    min-height: 32px !important;
  }
  
}

.lingvo-button-violet-dashed {
  border-radius: 8px !important;
  font-family: Rubik, Arial, sans-serif !important;
  font-weight: 500 !important;
  background: transparent !important;
  color: #5D54CD !important;
  min-height: 40px !important;
  width: 100%;
  border: 2px dashed #B4ADFD !important;
  transition: all 0.1s !important;

  &:hover {
    background: #5D54CD !important;
    color: #fff !important;
    border: 2px solid #5D54CD !important;
  }

  &.button.disabled,
  &.button:disabled {
    background: #fff !important;
    border: 2px dashed #eeedf8 !important;
    color: #999CA0 !important;
    opacity: 1 !important;
  }

}

/* confirm */

.lingvo-confirm {
  border-radius: 12px !important;

  & > :first-child:not(.icon),
  & > .icon:first-child + * {
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px !important;
  }

  & > :last-child {
      border-bottom-left-radius: 12px !important;
      border-bottom-right-radius: 12px !important;
  }

  & .button:not(.primary) {
    @extend .lingvo-button-basic-black;
  }

  & .primary.button {
    @extend .lingvo-button-violet;
  }
}

/* /confirm */

.lingvo-button-lite-violet {
  border-radius: 10px !important;
  font-family: Rubik, Arial, sans-serif !important;
  font-weight: 500 !important;
  background: #DBD9F1 !important;
  color: #5D54CD !important;

  & .icon {
    color: #5D54CD !important;
    opacity: 1 !important;
  }

  &.icon {
    padding: 10px !important;
  }

  & .lingvo-icon-close {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-mask-image: url("../images/close_sm.svg");
    mask-image: url("../images/close_sm.svg");
    background-color: #5D54CD;
  }

  &:hover {
    background: #5D54CD !important;
    color: #fff !important;

    & .icon {
      color: #fff !important;
    }

    & .lingvo-icon-close {
      background-color: #fff;
    }
  }

  &_bradius-bottom {
    border-radius: 0 0 10px 10px !important;
  }
}

.lingvo-button-close {
  border-radius: 10px !important;
  font-family: Rubik, Arial, sans-serif !important;
  font-weight: 500 !important;
  background: transparent !important;
  color: #5D54CD !important;

  &.icon.button {
    padding: 5px !important;
    margin: 0 !important;
  }

  & .lingvo-icon-close {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-mask-image: url("../images/close_sm.svg");
    mask-image: url("../images/close_sm.svg");
    background-color: #5D54CD;
  }

  &:hover {
    background: #DBD9F1 !important;
  }
  
}


.lingvo-spinner {
  /*color: #DBD9F1 !important;*/
  color: #5D54CD !important;
}

/* group radio buttons */
.lingvo-group-radios {
  display: inline-block;
  border-radius: 8px !important;
  padding: 7px 6px !important;

  & .fields {
    margin-bottom: 0 !important;
  }

  &__item {
    padding: 0 !important;
    margin: 5px 10px !important;
  }

  &__item .ui.radio.checkbox {
    padding: 8px 12px 8px 16px;
    border-radius: 4px;
    color: #5D54CD;
    cursor: pointer !important;

    & label {
      padding-left: 0 !important;
      color: #5D54CD !important;
      font-family: Mulish !important;
      font-weight: normal !important;
      font-size: 16px !important;
      line-height: 20px !important;
    }

    & label:before,
    & label:after {
      content: none !important;
    }

    &:hover:not(.checked) {
      background: #F5F5F5;
    }

    &.checked {
      background: #5D54CD;
      color: #fff;

      & label {
        color: #fff !important;
        font-weight: bold !important;
      }
    }
  }
}
/* /group radio buttons */

/* list */
.lingvo-list {

  & .item {
    & {
      font-family: Rubik, Arial, sans-serif;
      font-weight: normal;
      font-size: 16px !important;
      line-height: 22px !important;
      color: #333 !important;
      padding: 6px 0 6px 0 !important;
    }

    &:hover {
      color: #4E46B4 !important;
    }
    
    &:before {
      font-family: Mulish, Arial, sans-serif;
      font-weight: bold;
      font-size: 16px !important;
      line-height: 20px !important;
      color: #5D54CD !important;
    }
  }
}
/* /list */

/* sidebar */
.lingvo-sidebar {
  background: #FAFAFA;
  box-shadow: -2px 0px 8px rgba(8, 35, 48, 0.1) !important;

  &__bottom-close {
    display: none !important;
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      display: flex;
      flex-direction: column;
      min-height: 100%;

      &__content {
        flex: 1 0 auto;
      }
    
      &__footer {
        flex: 0 0 auto;
        text-align: center;
        padding: 24px 0 24px 0;
      }

      &__bottom-close {
        display: inline-block !important;
        min-width: 156px;
        margin: 0 !important;
      }
    }
  }

  @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
    & {
      width: 250px !important;
    }
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 72px;
  }

  &__empty {
    text-align: center;
    margin: 0 0 22px 0;

    & h3 {
      margin: 14px 0 0 0 !important;
      font-family: Mulish;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
    }

    &-img {
      width: 72px;
      height: 71px;
      margin-top: 24px;
    }
  }
}
/* /sidebar */

/* tasks bar */
.lingvo-tasks-link {
  word-break: break-all;
}
/* /tasks bar */

/* grants table */
.lingvo-column-issuer-url {
  min-width: 120px;

  @media only screen and (max-device-width: 1150px), only screen and (max-width: 1150px) {
    & {
      word-break: break-all;
    }
  }
}

.lingvo-column-grant-url {
  word-break: break-all;
}
/* /grants table */

.lingvo-container_margin-auto {
  &.ui.container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.label-input-adaptive {
  @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
    & {
      display: flex !important;
      flex-direction: column !important;

      & .label:first-child {
        border-radius: 4px 4px 0 0 !important;

        & + input {
          border-radius: 0 0 4px 4px !important;
          border: 1px solid rgba(34, 36, 38, 0.15) !important;
        }
      }

      &.ui.action.input > input:first-child {
        border-radius: 4px 4px 0 0 !important;
        border-right-color: rgba(34, 36, 38, 0.15) !important;
        border-bottom-color: transparent !important;

        &:focus {
          border-right-color: #85B7D9 !important;
          border-bottom-color: #85B7D9 !important;
        }

        & + div:last-child,
        & + div + button:last-child {
          border-radius: 0 0 4px 4px !important;
        }
      }

      &.ui.fluid.input > input:first-child {
        width: auto !important;
      }
    }
  }
}

.group-fields-adaptive {
  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      display: flex !important;
      flex-wrap: wrap !important;
      margin-right: 0 !important;
      width: 100%;

      &.ui.action.input > .dropdown:first-child {
        border-radius: 4px 4px 0 0 !important;
        border-right: 1px solid rgba(34, 36, 38, 0.15) !important;
        border-bottom: transparent !important;
        min-width: auto !important;
        width: 100% !important;

        &:focus {
          border-right-color: #85B7D9 !important;
        }

        & + input {
          border-radius: 0 0 0 4px !important;
        }
      }

    }
  }

  @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
    & {
      &.ui.action.input > .dropdown:first-child {
        & + input {
          width: 100% !important;
          border-radius: 0 !important;
          border-right-color: rgba(34, 36, 38, 0.15) !important;

          &:focus {
            border-right-color: #85B7D9 !important;
          }

          & + .dropdown {
            border-radius: 0 0 0 4px !important;
            flex: 1 1 auto;
            border-top: transparent !important;

            &:focus {
              border-top: 1px solid #85B7D9 !important;
              border-radius: 0 !important;
            }
          }
        }
      }

    }
  }

}

.lingvo-grouping-tag {
  @media only screen and (max-device-width: 580px), only screen and (max-width: 580px) {
    &.very.padded.segment {
      padding: 10px !important;
    }
  }
}

/* task */
.lingvo-task {
  background: #fff;
  box-shadow: 0px 4px 8px -6px rgba(93, 84, 205, 0.08), 0px 0px 1px #5D54CD;
  border-radius: 12px;
  position: relative;
  margin: 1px 0;

  &__title {
    font-family: Mulish;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding: 9px 40px 8px 20px;
    color: #333;
    border-bottom: 1px solid #EBEBEB;
  }

  &__content {
    padding: 16px 20px;
  }

  &__delete {
    box-shadow: none !important;
    position: absolute !important;
    padding: 9px 16px 9px 9px !important;
    margin: 0;
    right: 0;
    top: 0;
    background-color: transparent !important;
    margin: 0 !important;

    & .lingvo-icon-close {
      display: block;
      width: 20px;
      height: 20px;
      -webkit-mask-image: url("../images/close_sm.svg");
      mask-image: url("../images/close_sm.svg");
      background-color: #5d54cd;
    }

    &:hover .lingvo-icon-close {
      background-color: #372f9d;
    }

    &.disabled.button,
    &:disabled.button,
    &.disabled.button:hover {
      opacity: 1 !important;

      & .lingvo-icon-close {
        background-color: #999ca0;
      }
    }

  }

  &__details {
    color: #6B6D71;
    font-size: 14px;
    line-height: 18px;
  }

  &__progress {
    background: #FCF3D7 !important;
    border-radius: 10px !important;
    margin: 6px 0 33px 0 !important;

    &:first-child {
      margin-top: 0 !important;
    }

    & .bar {
      height: 12px !important;
      background: #F3AA18 !important;
      color: #fff !important;
      font-size: 10px !important;
      font-weight: normal !important;
      border-radius: 10px !important;

      min-width: 45px !important;

      & .progress {
        font-size: 10px !important;
        color: #fff !important;
        font-weight: normal !important;
        padding: 0 8px 0 0 !important;
      }
    }

    & .label {
      margin: 6px 0 0 0 !important;
      color: #F3AA18 !important;
      font-size: 12px !important;
      line-height: 16px !important;
      font-weight: 500 !important;
    }

    &_success {
      background: #c9f0e2 !important;

      & .bar {
        background: #57B894 !important;
      }

      & .label {
        color: #57B894 !important;
      }

    }
  }

  &__link {
    border: 2px dashed #eeedf8;
    border-radius: 4px;
    padding: 10px;
    color: #4E46B4 !important;
    word-break: break-all;

    & a {
      color: #4E46B4 !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
    & {
      &__title {
        padding: 7px 30px 7px 10px;
      }
    
      &__content {
        padding: 10px;
      }

      &__delete {
        padding: 9px !important;
      }

      &__progress {

        & .label {
          line-height: 14px !important;
        }
      }
    }
  }

}
/* /task */

/* tabs */
.lingvo-tab {
  & .ui.tabular.menu {
    border-bottom: 0 !important;

    & .item {
      font-family: Mulish !important;
      font-weight: normal !important;
      font-size: 16px !important;
      line-height: 22px !important;

      @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
        font-size: 14px !important;
      }

      @media only screen and (max-device-width: 390px), only screen and (max-width: 390px) {
        font-size: 12px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
    }

    & .active.item {
      background: #F4F6F8 !important;
      border: none !important;
      color: #5D54CD !important;
      border-radius: 8px 8px 0px 0px !important;
      font-weight: bold !important;
    }
  }

  &__pane {
    background: #F4F6F8 !important;
    border: none !important;
    border-radius: 0px 12px 12px 12px !important;
  }
}
/* /tabs */

/* dashboard */
.lingvo-dashboard {
  max-width: 1000px;
  margin: 0 auto 18px 18px;

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      margin-left: auto;
    }
  }
}

.lingvo-dashboard-block {
  display: flex;
  flex-wrap: nowrap;
  
  &__big {
    flex: 1 1 auto;

    & .lingvo-dashboard-elem {
      width: 100%;
    }
  }

  &__small {
    flex: 0 1 auto;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      flex-direction: column;

      &__small {
        padding-top: 10px;
        padding-left: 0;
      }
    }
  }

}

.lingvo-dashboard-subblock {
  padding: 10px 0 18px 20px !important;

  @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
    padding-left: 15px !important;
  }
}

.lingvo-dashboard-elem {
  background: #fff !important;
  border-radius: 10px !important;
  padding: 10px 24px !important;
  font-size: 14px !important;
  line-height: 20px !important;

  &_button {
    padding-left: 8px !important;
    padding-right: 8px !important;
    color: #BCB7EA !important;

    &:hover {
      color: #5D54CD !important;
    }

    &:last-of-type {
      padding-right: 20px !important;
    }
  }

  &.active {
    background: #5D54CD !important;
    color: #fff !important;
    transition: all 0.2s;

    & .lingvo-icon {
      &_book {
        transition: background-color 0.2s;
        background-color: #fff;
      }

      &_arrow {
        transition: background-color 0.2s;
        background-color: #fff;
        transform: rotate(180deg);
      }
    }
  }

  &:hover {
    & .lingvo-icon {
      &_view,
      &_edit,
      &_publish {
        background-color: #5D54CD;
      }
    }
  }

  & .lingvo-icon {
    vertical-align: middle;

    &_book {
      margin-right: 6px;
    }

    &_arrow {
      margin-left: 8px;
      margin-top: -2px;
    }
  }

  &.dropdown > .text {
    display: inline !important;
  }

  &.dropdown > .menu {
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4) !important;
    border-radius: 12px !important;
    border: none !important;
    padding: 4px !important;
    min-width: 234px;
    margin: 4px 0 0 0 !important;

    @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
      min-width: 100%;
    }

    & > .item {
      border-radius: 8px !important;
      font-size: 14px !important;
      line-height: 20px !important;
      padding: 9px 9px !important;

      &.active {
        font-weight: 500 !important;
      }

      & + .item {
        margin-top: 3px !important;
      }

      & .lingvo-icon {
        vertical-align: top;
        background-color: #5D54CD;
        margin-right: 4px;

        &_save {
          background-color: #57B894;
        }

        &_delete {
          background-color: #DB4E4E;
        }
      }

      &:hover {
        background: #EDECF6 !important;
        color: #372F9D !important;
      }

    }
  }

  &.dropdown.upward > .menu {
    margin: 0 0 4px 0 !important;
  }

  &_main {
    &.dropdown > .menu {
      min-width: 374px;

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        min-width: 100%;
      }
    }
  }

  &_status {
    white-space: nowrap;

    &.dropdown > .menu {
      min-width: 227px;

      @media only screen and (max-device-width: 1230px), only screen and (max-width: 1230px) {
        left: auto !important;
        right: 0 !important;
      }

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        left: 0 !important;
        right: auto !important;
      }
    }
  }

}

.lingvo-dashboard-group-elems {
  display: flex;
  flex-wrap: nowrap;

  &__block {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    padding-left: 12px;

    & .lingvo-dashboard-elem {
      background: transparent !important;
    }

    &:last-child {
      border-radius: 0 10px 10px 0 !important;
    }
  }

  & > .lingvo-dashboard-elem {

    &:first-child {
      border-radius: 10px 0 0 10px !important;
      position: relative;
      padding-right: 16px !important;
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 0;
        border-left: 1px solid #F5F5F5;
      }

      &.active:after {
        display: none;
      }
    }

  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      flex-direction: column;

      & > .lingvo-dashboard-elem:first-child {
        width: 100%;
        border-radius: 10px 10px 0 0 !important;

        &:after {
          display: none;
        }
      }

      &__block:last-child {
        border-radius: 0 0 10px 10px !important;
      }
    }
  }

  @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
    & {
      &__block {
        padding-left: 0;
      }
    }
  }

}
/* /dashboard */

/* icon */
.lingvo-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #BCB7EA;

  &_book {
    -webkit-mask-image: url("../images/icon_book.svg");
    mask-image: url("../images/icon_book.svg");
    background-color: #57B894;
  }

  &_view {
    -webkit-mask-image: url("../images/icon_eye.svg");
    mask-image: url("../images/icon_eye.svg");
  }

  &_edit {
    -webkit-mask-image: url("../images/icon_brush.svg");
    mask-image: url("../images/icon_brush.svg");
  }

  &_publish {
    -webkit-mask-image: url("../images/icon_create.svg");
    mask-image: url("../images/icon_create.svg");
  }


  &_roles {
    -webkit-mask-image: url("../images/icon_people.svg");
    mask-image: url("../images/icon_people.svg");
    width: 18px;
    height: 18px;
  }

  &_properties {
    -webkit-mask-image: url("../images/icon_settings.svg");
    mask-image: url("../images/icon_settings.svg");
    width: 18px;
    height: 18px;
  }

  &_organizations {
    -webkit-mask-image: url("../images/icon_business.svg");
    mask-image: url("../images/icon_business.svg");
  }

  &_stats {
    -webkit-mask-image: url("../images/icon_trending_up.svg");
    mask-image: url("../images/icon_trending_up.svg");
    width: 18px;
    height: 18px;
  }

  &_save {
    -webkit-mask-image: url("../images/icon_save.svg");
    mask-image: url("../images/icon_save.svg");
  }

  &_delete {
    -webkit-mask-image: url("../images/icon_trash.svg");
    mask-image: url("../images/icon_trash.svg");
    width: 18px;
    height: 18px;
  }

  &_arrow {
    -webkit-mask-image: url("../images/icon_arrow.svg");
    mask-image: url("../images/icon_arrow.svg");
    width: 12px;
    height: 8px;
    background-color: #999CA0;
  }

  &_trash {
    -webkit-mask-image: url("../images/icon_trash2.svg");
    mask-image: url("../images/icon_trash2.svg");
    width: 20px;
    height: 20px;
    background-color: #999ca0;
  }

}
/* /icon */

/* popups */
.lingvo-popup-inverted {
  background: #5D54CD !important;
  border-radius: 4px !important;
  color: #fff !important;
  border: 1px solid #5D54CD !important;
  box-shadow: none !important;
  font-size: 12px !important;
  line-height: 16px !important;

  &::before {
    background: #5D54CD !important;
    border: 1px solid #5D54CD !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    width: 12px !important;
    height: 12px !important;
    left: 16px !important;
    bottom: -6px !important;
  }
  
}
/* /popups */

/* dimmer */
.lingvo-dimmer {
  background: transparent !important;
}
/* /dimmer */


/* roles modal */

/* roles table */
.lingvo-roles-table {
  border: none !important;
  margin-top: 24px !important;

  & thead th {
    border: none !important;
    background: #FAFAFA !important;
    font-family: Mulish, Arial, sans-serif !important;
    font-weight: bold !important;
    padding: 13px 16px !important;

    &:not(:first-child) {
      position: relative !important;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        height: 24px;
        box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.08);
        width: 1px;
      }
    }

    &:first-child {
      border-radius: 8px 0 0 8px !important;
    }

    &:last-child {
      border-radius: 0 8px 8px 0 !important;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      &:first-child {
        border-radius: 8px 8px 0 0 !important;
      }
  
      &:last-child {
        border-radius: 0 0 8px 8px !important;
      }

      &:not(:first-child) {
        position: static !important;

        &::after {
          content: none;
        }
      }
    }
  }

  & tr:nth-child(2n) {
    & td {
      background: #FAFAFA !important;
    }

    & td:first-child {
      border-radius: 8px 0 0 8px !important;
    }

    & td:last-child {
      border-radius: 0 8px 8px 0 !important;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      & td:first-child {
        border-radius: 8px 8px 0 0 !important;
      }
  
      & td:last-child {
        border-radius: 0 0 8px 8px !important;
      }
    }
  }

  & tr td {
    border: none !important;
    padding: 16px !important;

    &:not(:first-child) {
      position: relative !important;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        height: 24px;
        box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.08);
        width: 1px;
      }

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {        
        position: static !important;

        &::after {
          content: none;
        }
      }
    }
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    margin-top: 14px !important;

    &.ui.table tr {
      box-shadow: none !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      & td:first-child {
        padding-top: 18px !important;
      }
  
      & td:last-child {
        padding-bottom: 18px !important;
      }
    }

    &.ui.table thead tr {
      & th:first-child {
        padding-top: 18px !important;
      }
  
      & th:last-child {
        padding-bottom: 18px !important;
      }
    }
  }
  
}
/* /roles table */

/* roles radio toggle */
.lingvo-radio-toggle {

  &.ui.fitted.toggle.checkbox, 
  &.ui.fitted.toggle.checkbox {
    width: 40px !important;
    vertical-align: middle !important;
  }

  &.ui.toggle.checkbox {
    min-height: 24px !important;
  }

  &.ui.toggle.checkbox input {
    width: 40px !important;
    height: 24px !important;
  }

  &.ui.toggle.checkbox .box, 
  &.ui.toggle.checkbox label {
    min-height: 24px !important;
  }

  &.ui.toggle.checkbox input:checked ~ .box:before, 
  &.ui.toggle.checkbox input:checked ~ label:before {
    background-color: #4E46B4 !important;
  }

  &.ui.toggle.checkbox .box:before, 
  &.ui.toggle.checkbox label:before {
    width: 40px !important;
    height: 24px !important;
    border-radius: 100px !important;
  }

  &.ui.toggle.checkbox input:checked ~ .box:after, 
  &.ui.toggle.checkbox input:checked ~ label:after {
    left: 20px !important;
  }

  &.ui.toggle.checkbox input ~ .box:after,
  &.ui.toggle.checkbox input ~ label:after {
    left: 4px !important;
  }

  &.ui.toggle.checkbox .box:after, 
  &.ui.toggle.checkbox label:after {
    width: 16px !important;
    height: 16px !important;
    border-radius: 100px !important;
    top: 4px !important;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4) !important;
    background: #fff !important;
  }
}
/* /roles radio toggle */

/* roles button */
.lingvo-button-roles-delete {
  background: transparent !important;
  padding: 4px 5px 6px 16px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  margin: 0 !important;
  vertical-align: middle !important;

  &:hover {
    & .lingvo-icon_trash {
      background-color: #db4e4e;
    }
  }
}
/* /roles button */

/* roles dropdown */
.lingvo-roles-dropdown {
  background: #fff !important;
  border-radius: 10px !important;
  padding: 10px 40px 10px 20px !important;
  font-size: 14px !important;
  line-height: 20px !important;
  position: relative !important;

  &.ui.search.selection.dropdown > input.search {
    padding: 10px 40px 10px 20px !important;
    line-height: 20px !important;
  }

  & .lingvo-icon {
    vertical-align: middle;

    &_arrow {
      position: absolute;
      right: 16px;
      top: calc(50% - 4px);
    }
  }

  &:hover {
    border-color: #DCDCDC !important;
  }

  &.ui.active.selection.dropdown {
    border-radius: 10px !important;
    border-color: #DCDCDC !important;
   
    & .lingvo-icon {
      &_arrow {
        transform: rotate(180deg);
      }
    }
  }

  &.ui.selection.dropdown > .menu {
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4) !important;
    border-radius: 12px !important;
    border: none !important;
    padding: 4px !important;
    margin: 4px 0 0 0 !important;

    @media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
      min-width: 100%;
    }

    & > .item {
      border-radius: 8px !important;
      font-size: 14px !important;
      line-height: 20px !important;
      padding: 9px 9px !important;
      border-top: none !important;

      &.active {
        font-weight: 500 !important;
      }

      &.selected {
        background: transparent !important;
      }

      & + .item {
        margin-top: 3px !important;
      }

      &:hover {
        background: #EDECF6 !important;
        color: #372F9D !important;
      }

    }
  }

  &.dropdown.upward > .menu {
    margin: 0 0 4px 0 !important;
  }

  &_search {
    min-width: 263px !important;

    &.ui.selection.dropdown > .menu {
      min-width: 263px !important;
    }

    & + .lingvo-button-violet {
      margin-left: 20px !important;
    }

    @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
      min-width: 100% !important;

      & + .lingvo-button-violet {
        width: 100% !important;
        margin-top: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      &.ui.selection.dropdown > .menu {
        min-width: 100% !important;
      }
    }

  }

}
/* /roles dropdown */

/* /roles modal */


/* checkbox */
.lingvo-checkbox {
  vertical-align: top !important;

  &.ui.checkbox .box:before, 
  &.ui.checkbox label:before {
    border: 1px solid #4E46B4 !important;
  }

  &.ui.checkbox input:checked ~ .box:before, 
  &.ui.checkbox input:checked ~ label:before {
    background: #4E46B4 !important;
    border: 1px solid #4E46B4 !important;
  }

  &.ui.checkbox input:checked ~ .box:after, 
  &.ui.checkbox input:checked ~ label:after {
    color: #fff !important;
    font-size: 10px !important;
  }
}
/* /checkbox */

/* segment */
.lingvo-segment-modal {
  background: #EDECF6;
  padding: 11px 16px;
  border-radius: 8px;
  margin: 0 0 14px 0;
}
/* /segment */
