body {
  background-color: #ff00ff !important;
}



.lingvo-header-translations {
  text-align: center;
  font-family: Rubik, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 26px;
}
  
