.lingvo-header-translations {
  text-align: center;
  font-family: Rubik, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 26px;
}


/* translation gist */

@keyframes backgroundchange {
  from {
    background-color: #EDECF6;
  }

  to {
    background-color: #FAFAFA;
  }
}

.lingvo-gist {
  background-color: #FAFAFA;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;

  .button + & {
    animation-duration: 3s;
    animation-name: backgroundchange;
    margin-top: 26px;
  }

  &__header {
    color: #5D54CD;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    font-family: Mulish;
    margin-bottom: 18px;
  }

  &__buttons {
    text-align: right;
    margin-top: 24px;
    margin-bottom: 4px;

    & .button {
      margin: 0 0 0 20px !important;

      &:first-child {
        margin-left: 0 !important;
      }
    }
  }

  @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
    padding: 24px 10px;
  }
}

/* /translation gist */

/* gist element */
.lingvo-gist-elem {
  background: #fff !important;
  border-radius: 10px !important;
  padding: 11px 20px !important;
  font-size: 16px !important;
  line-height: 18px !important;

  &.input {
    padding: 0 !important;

    & > input {
      border-radius: 10px !important;
      padding: 11px 20px !important;
      font-size: 16px !important;
      line-height: 18px !important;
      font-family: Rubik, Arial, sans-serif !important;
      min-height: 42px !important;

      &:focus {
        border: 1px solid #5D54CD !important;
      }
    }

  }

  &.dropdown {
    min-height: 42px !important;
    padding-right: 40px !important;
    position: relative !important;

    &:hover {
      border: 1px solid #DCDCDC !important;
    }

    &:focus {
      border: 1px solid #5D54CD !important;
      transition: border 0.2s;
    }

    & .lingvo-icon {
      vertical-align: middle;
  
      &_arrow {
        position: absolute;
        right: 17px;
        top: calc(50% - 4px);
      }
    }

    & > .text {
      display: inline !important;
      vertical-align: middle !important;
    }

    &.active {
      background: #5D54CD !important;
      color: #fff !important;
      transition: all 0.2s;

      &.selection {
        border-radius: 10px !important;

        &:hover {
          border-color: #5D54CD !important;
        }
      }

      & > .text {
        color: #fff !important;
        transition: color 0.2s;
      }
  
      & .lingvo-icon {
        &_arrow {
          transition: background-color 0.2s;
          background-color: #fff;
          transform: rotate(180deg);
        }
      }
    }

    &.active .menu {
      box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4) !important;
      border-radius: 12px !important;
      border: none !important;
      padding: 4px !important;
      margin: 4px 0 0 0 !important;

      & > .item {
        border-radius: 8px !important;
        border-top: none !important;
        font-size: 14px !important;
        line-height: 20px !important;
        padding: 9px 8px !important;

        &.active {
          font-weight: 500 !important;
        }

        &.selected {
          background: transparent !important;
        }

        & + .item {
          margin-top: 3px !important;
        }

        &:hover {
          background: #EDECF6 !important;
          color: #372F9D !important;
        }

      }
    }

    &.upward > .menu {
      margin: 0 0 4px 0 !important;
    }

  }

  &_language.dropdown {
    min-width: 202px !important;
  }

}
/* /gist element */


.lingvo-gist-grid {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 14px;

  &:first-child {
    margin-top: 0;
  }
  
  &__big {
    flex: 1 1 auto;
  }

  &__small {
    flex: 0 1 auto;
    padding-left: 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  /*&__delete {
    
  }*/

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      flex-wrap: wrap;

      &__big {
        width: 100%;
      }

      &__small {
        padding-top: 10px;
        padding-left: 0;
      }

      &__delete {
        padding-top: 10px;
        padding-left: 19px;
      }
      
    }
  }

}

