$selectColor: #1E88E5;

.published {
  .grant {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    .grant-title {
      padding: .2em;
      font-weight: bold;
      font-size: 1.2em;
    }

    .rst__tree {
      flex: 1 1 400px;
    }
  }

  .dict {
    .dict-name {
      margin-right: 1em;
      cursor: pointer;
    }

    .dict-authors {
      font-style: italic;
      font-weight: 200;
      margin-right: 1em;
    }

    .dict-perspectives {
      color: #777;
    }

    &.selected {
      .dict-name {
      }
    }
  }


  .rst__row.selected > .rst__rowContents {
    box-shadow: 0 5px 5px -3px $selectColor;
    border-color: $selectColor;
  }
}
