.published {
  .dict-list {
    padding: 0.5em;
    border-radius: 0.28571429rem;
    margin: 0.5em 0;

    &:nth-child(even) {
      background-color: #eee;
    }

    .translation {
      span {
        font-weight: bold;
        font-size: 1.05em;
      }

      span+span:before {
        content: ' > ';
        color: gray;
      }
    }

    .dict {
      padding: 2px 1em;

      .dict-name {
        padding-right: 5px;
      }
    }
  }
}
