ul.tree {
  list-style: none;
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
  li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    border-left: 1px solid rgb(100, 100, 100);
    &:first-child.dict {
      margin: 1em 0 0 0;
    }
    &:last-child {
      border-left: none;
    }
    &:before {
      position: relative;
      top: -0.3em;
      height: 1em;
      width: 12px;
      color: white;
      border-bottom: 1px solid rgb(100, 100, 100);
      content: "";
      display: inline-block;
      left: -7px;
    }
    &:last-child:before {
      border-left: 1px solid rgb(100, 100, 100);
    }
  }
}

.grant {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  .grant-title {
    padding: .5em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.4em;
  }
}

.lang {
  padding: 4px 2em;
  transition: background-color 0.25s ease-in;

  .lang-name {
    padding-right: 9px;
    font-size: 1.2em;
    color: rgb(25, 0, 255);
  }

  .root-lang-name {
    padding-right: 9px;
    font-size: 2em;
    color: rgb(211, 0, 0);
  }

  .confirmed-lang-name {
    padding-right: 9px;
    font-size: 1.4em;
    color: rgb(148, 0, 211);
  }

  &.highlighted {
    background-color: rgba(23,167,219,0.3);
  }
}

.dict {
  padding: 2px 1em;

  .dict-name {
    font-size: 0.95em;
    padding-right: 5px;
    font-weight: 300;
  }

  .dict-authors {
    font-style: italic;
    font-weight: 200;
    margin-right: 1em;
    font-style: italic;
  }
}

.toggle-label {
  font-size: 1.2em;
}