.treeRoute {
  position: relative;
  margin: 0 auto;

  .tree-header {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    text-align: center;
    font-family: Rubik, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: #fff;
  }
}
