.top-section-selector_icon {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  top: 50%;
  left: 45%;
  margin-left: -600px;
  margin-top: -140px;
  .img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin: 20px;
  }

  .icon {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .label {
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 900;
  }
  .hidden {
    width: 70%;
    top: -150px;
    height: 800px;
    opacity: 0.4;
    z-index: 10;
  }
  .hidden-label {
    top: -140px;
    opacity: 1;
    z-index: 10;
  }
  .nonTab {
    opacity: 0;
  }
}
