.top-section-selector_icon{
  position: relative;
  margin-top: 50px;
  margin-bottom: 200px;
  text-align: center;
  width: 80vw;
  display: flex;
  .img {
    width: 280px;
    height: 200px;
    cursor: pointer;
    margin: 20px;
  }
  .icon{
    display: inline-flex;
    position: relative;
  }
  label {
    position: absolute;
    top: 0;
    margin-left: 18px;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .hidden {
    position: absolute;
    width: 70%;
    top: -150px;
    height: 800px;
    opacity: 0.4;
    z-index: 10;
  }
  .hidden-label {
    position: absolute;
    top: -140px;
    opacity: 1;
    z-index: 10;
  }
  .nonTab {
    opacity: 0;
  }
 
}
.top-section-selector{
  display: flex;
}
