.main-page {
  margin: 0 auto;

  @media only screen and (max-device-width: 1255px), only screen and (max-width: 1255px) {
    & {
      max-width: 750px;
    }
  }
}

.top-section-selector_icon {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  width: 100%;
  padding-top: 114px;

  flex-wrap: wrap;

  .hidden {
    width: 70%;
    top: -150px;
    height: 800px;
    opacity: 0.4;
    z-index: 10;
  }
  .hidden-label {
    top: -140px;
    opacity: 1;
    z-index: 10;
  }
  .nonTab {
    opacity: 0;
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    padding-top: 50px;
  }
}

/* main block */
.lingvo-main-block {
  padding: 80px 20px;
  margin: 0 0 20px 0;

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  & a {
    color: #5d54cd;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: #372f9d;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 1000px;
  }

  &__title {
    font-size: 36px !important;
    line-height: 44px !important;
    font-family: Rubik, Arial, sans-serif !important;
    font-weight: 700 !important;
    margin: 0 !important;
    max-width: 570px;

    @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
      font-size: 22px !important;
      line-height: 30px !important;
    }
  }

  &__subtit {
    font-size: 18px;
    line-height: 26px;
    font-family: Rubik, Arial, sans-serif;
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #535252;
    max-width: 550px;

    @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }

  &_advantages {
    background: #f4f6f8;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &_advantages &__title {
    text-align: center;
    max-width: 100%;
    position: relative;
    display: block;
    padding: 0 80px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -149px;
      left: -145px;
      width: 259px;
      height: 253px;
      background: url("../../images/kite_pink.svg") 0 0 no-repeat;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -85px;
      right: -130px;
      width: 246px;
      height: 238px;
      background: url("../../images/kite_yell.svg") 0 0 no-repeat;
    }

    @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
      text-align: left;
      padding-left: 0;
      padding-right: 20%;

      &::before {
        display: none;
      }

      &::after {
        width: 150px;
        height: 145.12px;
        background-size: 150px 145.12px;
        right: -30px;
        top: -80px;
      }
    }

    @media only screen and (max-device-width: 365px), only screen and (max-width: 365px) {
      padding-right: 0;
    }
  }

  &__platform {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 28px 0 0 0;

    &-photo {
      padding: 0;
    }

    &-img {
      width: 447px;
      height: 395px;
      /*margin: 30px 143px 0 0;*/
      margin: 30px 40px 0 0;
    }

    &-list {
      padding: 0;
      font-size: 16px;
      line-height: 24px;
      color: #535252;
      max-width: 410px;

      &-item {
        padding: 0 0 58px 0;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    &-strong {
      display: block;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      margin: 0;
    }

    &-strong + &-desc {
      margin: 8px 0 0 0;
    }

    &-text {
      &_violet {
        color: #5d54cd;
      }
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      flex-direction: column;

      &-photo {
        text-align: center;
      }

      &-img {
        margin: 0;
      }

      &-list {
        padding-top: 30px;
        max-width: 100%;

        &-item {
          padding-bottom: 40px;
        }
      }
    }

    @media only screen and (max-device-width: 487px), only screen and (max-width: 487px) {
      &-img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 18px;
    line-height: 28px;
    font-family: Rubik, Arial, sans-serif;
    font-weight: normal;

    &-item {
      max-width: 415px;
      width: 50%;
      padding: 70px 0 0 0;
      text-align: center;
    }

    &-img {
      margin: 0 0 25px 0;
    }

    &-text {
      max-width: 415px;
      margin: 0 auto;
    }

    @media only screen and (max-device-width: 1230px), only screen and (max-width: 1230px) {
      justify-content: space-around;
    }

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      flex-direction: column;

      &-item {
        width: 100%;
        max-width: 100%;
      }
    }

    @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
      font-size: 16px;
      line-height: 24px;

      &-item {
        padding-top: 60px;

        &:first-child {
          padding-top: 40px;
        }
      }

      &-img {
        margin-bottom: 10px;
      }
    }
  }

  &__opportunities {
    display: flex;
    justify-content: space-between;
    position: relative;

    & .lingvo-main-block__title {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-info {
      padding: 50px 30px 0 0;
      display: flex;
      flex-direction: column-reverse;
    }

    &-details {
      font-size: 16px;
      line-height: 24px;
    }

    &-list {
      min-width: 549px;
      max-width: 549px;
      font-size: 18px;
      line-height: 28px;
      margin-top: -15px;
      border-bottom: 1px solid #333;

      &-title {
        font-family: Rubik, Arial, sans-serif !important;
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 28px !important;
        padding: 30px 37px 30px 0 !important;
        border-top: 1px solid #333;
        position: relative;

        &:first-child {
          border-top: 0;
        }

        & .lingvo-icon-plus {
          content: "";
          display: block;
          position: absolute;
          top: calc(50% - 16px);
          right: 0;
          width: 32px;
          height: 32px;
          -webkit-mask-image: url("../../images/icon_plus.svg");
          mask-image: url("../../images/icon_plus.svg");
          background-color: #333;

          &:hover {
            background-color: #5d54cd;
          }
        }

        &.active {
          padding-bottom: 16px !important;

          & .lingvo-icon-plus {
            -webkit-mask-image: url("../../images/icon_minus.svg");
            mask-image: url("../../images/icon_minus.svg");
            top: calc(50% - 9px);
          }
        }

        & .icon {
          display: none !important;
        }
      }

      &-content {
        padding: 0 37px 30px 0 !important;
      }
    }

    &-full {
      margin: 0;
      padding: 0 0 0 18px;

      &-elem {
        padding: 0 0 16px 0;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    @media only screen and (max-device-width: 970px), only screen and (max-width: 970px) {
      flex-direction: column;

      &-info {
        min-width: auto;
        padding-right: 0;
        order: 2;

        padding-top: 30px;
      }

      &-list {
        margin-top: 0;
        min-width: 100%;
        max-width: 100%;
        order: 1;
        padding-top: 50px;
      }
    }

    @media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
      &-list {
        padding-top: 30px;
        font-size: 16px;
        line-height: 24px;

        &-title {
          font-size: 18px !important;
          line-height: 26px !important;
        }
      }

      &-details {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
/* /main block */
