/*.top-section-selector {
  position: relative;
}*/

.top-section-selector_icon {
  position: absolute;
  text-align: center;
  justify-content: center;
  //justify-content: space-between;
  align-content: center;
  display: flex;
  top: 50%;
  //left: 45%;
  //margin-left: -600px;
  margin-top: -140px;

  /* new */
  /*max-width: 1000px;*/
  //max-width: 1440px;
  width: 100%;
  /*margin: 0 auto;*/
  
  .img {
    /*width: 200px;
    height: 200px;*/
    width: 124px;
    height: 98px;
    cursor: pointer;
    /*margin: 20px;*/
    margin: 6px 6px 17px 6px;

    order: 1;
  }

  .icon {
    display: flex;
    //flex-direction: column-reverse;
    flex-direction: column;
    text-align: center;

    /* new */
    //justify-content: flex-start;
    align-items: flex-start;
    border-radius: 12px;
    padding: 20px 20px 65px 20px;
    max-width: 176px;
    background: #fff;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

    box-shadow: 0px 100px 309px rgba(210, 208, 225, 0.24), 0px 41.7776px 129.093px rgba(210, 208, 225, 0.172525), 0px 22.3363px 69.0192px rgba(210, 208, 225, 0.143066), 0px 12.5216px 38.6916px rgba(210, 208, 225, 0.12), 0px 6.6501px 20.5488px rgba(210, 208, 225, 0.0969343), 0px 2.76726px 8.55082px rgba(210, 208, 225, 0.0674749);

    &:after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 30px;
      background: url("../../images/arrow.svg") 0 0 no-repeat;
      width: 15px;
      height: 8px;
    }
  }

  .label {
    font-family: Mulish, Arial, sans-serif;
    font-weight: bold;
    /*font-family: Karla, Arial, sans-serif;
    font-weight: normal;*/
    font-size: 16px;
    line-height: 20px;

    color: rgb(0, 0, 0);
    text-align: left;

    order: 2;
  }

  a .label {
    cursor: pointer;
  }

  .hidden {
    width: 70%;
    top: -150px;
    height: 800px;
    opacity: 0.4;
    z-index: 10;
  }
  .hidden-label {
    top: -140px;
    opacity: 1;
    z-index: 10;
  }
  .nonTab {
    opacity: 0;
  }
}
