ul.tree {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, sans-serif;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }

  li {
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    border-left: 1px solid rgb(100, 100, 100);

    &:last-child {
      border-left: none;
    }

    &:before {
      position: relative;
      top: -0.3em;
      height: 1em;
      width: 12px;
      color: white;
      border-bottom: 1px solid rgb(100, 100, 100);
      content: "";
      display: inline-block;
      left: -7px;
    }

    &:last-child:before {
      border-left: 1px solid rgb(100, 100, 100);
    }

    &.dict {
      padding-bottom: 4px;
    }

    &.lang {
      padding-bottom: 4px;
    }
  }
}

.grant {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  .grant-title {
    padding: 0.5em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.4em;
  }

  &.highlighted {
    background-color: #edecf6;
    border-radius: 0 12px 12px 0;
  }
}

.lang {
  padding: 4px 2em;
  transition: background-color 0.25s ease-in, border-radius 0.25s ease-in;

  .lang-name {
    padding-right: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #0f69c9;

    & + ul {
      margin-top: 6px;
    }
    
  }

  .root-lang-name {
    padding-right: 9px;
    font-size: 24px;
    color: #f05f6b;

    & + ul {
      margin-top: 9px;
    }
  }

  .confirmed-lang-name {
    padding-right: 9px;
    font-size: 18px;
    color: #5d54cd;

    & + ul {
      margin-top: 9px;
    }
  }

  &.highlighted {
    background-color: #edecf6;
    border-radius: 0 12px 12px 0;
  }
}

.dict {
  padding: 2px 1em;

  .dict-name {
    font-size: 14px;
    padding-right: 5px;
    font-weight: 400;

    &_link:hover {
      color: #5d54cd;
    }
  }

  .dict-authors {
    margin-right: 8px;
    font-style: italic;
    font-weight: normal;
  }
}

.toggle-label {
  font-size: 0.9rem;
}
