.perspective {
  button[type=submit] {
    background: none;
    border: none;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu {
    margin-bottom: 0;
  }

  .content {
    margin-top: 0;
  }
}
