.perspective {
  button[type=submit] {
    background: none;
    border: none;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu {
    margin-bottom: 0;
  }

  .content {
    margin-top: 0;
  }

  &-menu-adaptive {
    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      & {
        display: flex !important;
        flex-direction: column !important;
        border-left: 1px solid #D4D4D5 !important;
        border-bottom: 0 !important;
        margin-top: 35px !important;

        &.ui.tabular.menu .active.item {
          border-radius: 0 4px 4px 0 !important;
        }

        &.ui.tabular.menu .right.menu {
          margin-left: 0 !important;
        }

        &.ui.tabular.menu .category.search {
          margin-left: 0 !important;
        }
      }
    }
  }

}

/* Scrolling */

.lingvo-scrolling-content {
  display: flex;
  min-height: 100%;
  padding-bottom: 55px;

  @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
    min-height: auto;
    max-height: none;
  }

  &__container {
    min-height: 100%;
    display: flex !important;
    flex-direction: column;

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      min-height: auto;
      max-height: none;
    }
  }

  & .lingvo-scrolling-tab {
    flex: 1 0 auto;
    overflow: hidden !important;
    position: relative;

    &__table {
      overflow-y: auto;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;

      &:not(:first-child) {
        top: 36px;
      }

      & thead th {
        position: static;
        position: sticky;
        top: 0;
        z-index: 1;
      }

      @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;

        & thead th {
          position: static;
          top: auto;
        }

      }
    }
  }

  & .pagination {
    left: 20px;

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      left: 34px;
    }
  }

}

/* /Scrolling */

.lingvo-breadcrumbs {
  .white &.ui.breadcrumb .divider.text {
    color: #fff;
    font-size: 1em;
  }
}

