.perspective {
  button[type="submit"] {
    background: none;
    border: none;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu {
    margin-bottom: 0;
  }

  .content {
    margin-top: 0;
  }
}

/* Scrolling */

.lingvo-scrolling-content {
  display: flex;
  min-height: 100%;
  padding-bottom: 70px;

  @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
    min-height: auto;
    max-height: none;
  }

  &__container {
    min-height: 100%;
    display: flex !important;
    flex-direction: column;

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      min-height: auto;
      max-height: none;
    }
  }

  & .lingvo-scrolling-tab {
    flex: 1 0 auto;
    overflow: hidden !important;
    position: relative;

    background: #fff;
    padding: 24px 20px 20px 20px;
    border-radius: 12px;

    &_edit {
      border-radius: 0 12px 12px 12px;
    }

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      border-radius: 0 12px 12px 12px;
      margin-bottom: 24px;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      margin-bottom: 86px;
    }

    @media only screen and (max-device-width: 540px), only screen and (max-width: 540px) {
      margin-bottom: 125px;
    }

    @media only screen and (max-device-width: 320px), only screen and (max-width: 320px) {
      margin-bottom: 165px;
    }

    &__table {
      overflow-y: auto;
      position: absolute;

      left: 20px;
      width: calc(100% - 20px);
      top: 24px;
      bottom: 20px;

      &:not(:first-child) {
        top: 70px;
      }

      & thead th {
        position: relative;
        position: sticky;
        top: 0;
        z-index: 1;
      }

      & td.lingvo-sticky-checkbox-column {
        position: relative !important;
        position: sticky !important;
        left: 0;
        z-index: 1;
        background-color: #fff;

        & + td {
          position: relative !important;
          position: sticky !important;
          left: 45px;
          z-index: 1;
          background-color: #fff;
          border-right: 1px solid rgba(34, 36, 38, 0.1);

          & + td {
            border-left: none !important;
          }
        }
      }

      & .lingvo-perspective-table td.lingvo-sticky-checkbox-column {
        & + td {
          left: 49px;
        }
      }

      & thead th.lingvo-sticky-checkbox-column {
        position: relative;
        position: sticky;
        left: 0;
        z-index: 2;

        & + th {
          position: relative;
          position: sticky;
          left: 45px;
          z-index: 2;
          border-right: 1px solid rgba(34, 36, 38, 0.1);

          & + th {
            border-left: none !important;
          }
        }
      }

      & .lingvo-perspective-table thead th.lingvo-sticky-checkbox-column {
        & + th {
          left: 49px;
        }
      }

      @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
        position: static;
        top: auto !important;
        bottom: auto;
        left: auto;
        margin-top: 4px;
        width: 100%;

        & thead th {
          position: relative;
          top: auto;
        }
      }

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        & thead th {
          position: static;
        }

        & td.lingvo-sticky-checkbox-column {
          position: static !important;
          left: auto;

          & + td {
            position: static !important;
            left: auto;
          }
        }

        & thead th.lingvo-sticky-checkbox-column {
          position: static;
          left: auto;

          & + th {
            position: static;
            left: auto;
          }
        }
      }
    }
  }

  /* parallel corpora */
  &_corpora {
    padding-bottom: 20px !important;

    & .lingvo-scrolling-tab {
      @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
        margin-bottom: 0 !important;
      }
    }
  }
  /* /parallel corpora */

  & .pagination {
    left: 20px;
    z-index: 100;

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      left: 34px;
    }
  }

  & .lingvo-pagination-block {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: -12px;
    padding: 6px 24px;
    border-radius: 12px;
    z-index: 18;

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      right: 30px;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      padding: 10px 16px;
      right: 30px;
      margin-left: 14px;
      margin-right: 14px;
    }
  }
}

/* /Scrolling */

/* breadcrumbs */
.lingvo-breadcrumbs {
  &.ui.breadcrumb {
    font-family: Mulish !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 700 !important;

    & .ui.dropdown .lingvo-icon_arrow {
      background-color: #ebebeb !important;
      margin-left: 3px !important;
      vertical-align: middle !important;
    }

    & .lingvo-icon_divider {
      opacity: 1 !important;
      margin: 0 10px 0 11px !important;
      vertical-align: middle !important;
    }
  }

  .white &.ui.breadcrumb .divider.text {
    opacity: 1 !important;
    color: #ebebeb !important;
    font-size: 16px !important;
    user-select: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
/* /breadcrumbs */

/* license */
.lingvo-license {
  float: right;
  font-size: 16px;
  font-family: Mulish;
  margin: 3px 0 0 0;

  & a.license {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
/* /license */

/* link "Number of the languages" */
.lingvo-languages-link {
  color: #5d54cd;

  &:hover {
    color: #5d54cd;
    text-decoration: underline;
  }

  &:active {
    color: #372f9d;
    text-decoration: underline;
  }
}
/* /link "Number of the languages" */

/* perspective menu */
.lingvo-perspective-menu {
  font-family: Mulish !important;
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 0 !important;

  & .ui.dropdown .lingvo-icon_arrow {
    background-color: #fff !important;
    margin-left: 5px !important;
    vertical-align: middle !important;
  }

  &.ui.tabular.menu {
    border-bottom: none !important;

    & .item {
      padding: 11px 16px !important;
      border-radius: 8px 8px 0 0 !important;
      flex: 0 1 auto !important;
      margin: 0 2px 0 0 !important;
    }

    & .active.item {
      border-radius: 8px 8px 0 0 !important;
      background: #f4f6f8 !important;
      border: none !important;
      color: #5d54cd !important;

      & .lingvo-icon_arrow {
        background-color: #5d54cd !important;
      }
    }
  }

  @media only screen and (max-device-width: 1230px), only screen and (max-width: 1230px) {
    &.ui.tabular.menu {
      font-size: 15px !important;
    }
  }

  @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
    &.ui.tabular.menu {
      font-size: 16px !important;
      display: flex !important;
      flex-direction: column !important;
      border-left: 1px solid #d4d4d5 !important;
      border-bottom: 0 !important;
      margin-top: 35px !important;

      & .item {
        margin: 0 0 2px 0 !important;
        border-radius: 0 8px 8px 0 !important;
      }

      & .active.item {
        border-radius: 0 8px 8px 0 !important;
      }

      & .right.menu {
        margin-left: 0 !important;
      }

      & .category.search {
        margin-left: 0 !important;
      }
    }
  }
}
/* /perspective menu */

/* perspective buttons */

.lingvo-perspective-buttons {
  text-align: right;
}
/* /perspective buttons */

/* perspective button */

.lingvo-perspective-button {
  margin: 0 0 10px 10px !important;
}
/* /perspective button */

/* perspective table */
.lingvo-perspective-table {
  border: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  border-collapse: collapse !important;

  & thead th {
    border: 0 !important;
    background: #f5f5f5 !important;
    font-family: Mulish, Arial, sans-serif !important;
    font-weight: bold !important;
    padding: 13px 16px 13px 16px !important;
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: 1px;
        top: 13px;
        bottom: 13px;
        width: 1px;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        font-size: 0;
      }
    }

    &.lingvo-dnd-headercell {
      &_hidden {
        display: none !important;
      }
    }

    &.entityHeader ul li.last {
      background-color: #f5f5f5 !important;
    }

    &:first-child {
      border-radius: 8px 0 0 8px !important;
    }

    &.lingvo-dnd-headercell_hidden:first-child + th {
      border-radius: 8px 0 0 8px !important;
    }

    &:last-child {
      border-radius: 0 8px 8px 0 !important;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {

      &:first-child {
        border-radius: 8px 8px 0 0 !important;
      }

      &.lingvo-dnd-headercell_hidden:first-child + th {
        border-radius: 8px 8px 0 0 !important;
      }

      &:last-child {
        border-radius: 0 0 8px 8px !important;
      }

      &:not(:last-child) {
        &::after {
          content: none;
        }
      }
    }
  }

  & tr td {
    background: #fff !important;
  }

  & tr:nth-child(2n) {
    & td {
      background: #fafafa !important;

      &.entity ul li.last {
        background-color: #fafafa !important;
      }
    }

    & td:first-child {
      border-radius: 8px 0 0 8px !important;
    }

    & td.lingvo-dnd-column_hidden:first-child + td {
      border-radius: 8px 0 0 8px !important;
    }

    & td:last-child {
      border-radius: 0 8px 8px 0 !important;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      & td:first-child {
        border-radius: 8px 8px 0 0 !important;
      }

      & td.lingvo-dnd-column_hidden:first-child + td {
        border-radius: 8px 8px 0 0 !important;
      }

      & td:last-child {
        border-radius: 0 0 8px 8px !important;
      }
    }
  }

  & tr td {
    border: 0 !important;
    padding: 16px 16px 16px 16px !important;

    &:not(:last-child) {
      position: relative !important;

      &::after {
        content: "";
        position: absolute;
        right: 1px;
        top: 16px;
        bottom: 16px;
        width: 1px;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        font-size: 0;
      }

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        position: static !important;

        &::after {
          content: none;
        }
      }
    }

    &.lingvo-dnd-column {
      vertical-align: top !important;

      &_hidden {
        display: none !important;
      }
    }
  }

  & .entity {
    ul {
      background: url(../../images/line2.png) repeat-y;

      li {
        padding: 0 12px 6px 10px !important;
        background: url(../../images/node2.png) 0 0 no-repeat;
      }

      li.last {
        padding-bottom: 0 !important;
        background: #fff url(../../images/lastnode2.png) 0 0 no-repeat;
      }

      ul {
        & li {
          padding-top: 6px !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    &.ui.table tr {
      box-shadow: none !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      &:not(.unstackable) {
        box-shadow: none !important;
      }

      & td.lingvo-dnd-column {
        &_hidden {
          display: none !important;
        }
      }

      & td:first-child {
        padding-top: 18px !important;
      }

      & td.lingvo-dnd-column_hidden:first-child + td {
        padding-top: 18px !important;
      }

      & td:last-child {
        padding-bottom: 18px !important;
      }
    }

    &.ui.table thead tr {

      & th.lingvo-dnd-headercell {
        &_hidden {
          display: none !important;
        }
      }

      & th:first-child {
        padding-top: 18px !important;
      }

      & th.lingvo-dnd-headercell_hidden:first-child + th {
        padding-top: 18px !important;
      }

      & th:last-child {
        padding-bottom: 18px !important;
      }
    }
  }

  /* mark */
  & .entity ul li mark {
    display: inline-block;
    line-height: 17px;
  }
  /* /mark */
}
/* /perspective table */

/* perspective sort */
.lingvo-perspective-sort {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 3px;

  & .lingvo-icon_sort_up,
  & .lingvo-icon_sort_down {
    display: block;
  }

  & .lingvo-icon + .lingvo-icon {
    margin-top: 4px;
  }
}
/* /perspective sort */

/* lingvo verb case language header */
.lingvo-verb-case-language-header {
  display: block !important;
  margin: 0 !important;
  padding: 10px 14px 10px 14px !important;
  font-size: 18px !important;
  line-height: 24px !important;
  position: relative !important;
  cursor: pointer !important;

  & .ui.breadcrumb {
    font-family: Mulish, Arial, sans-serif !important;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 700 !important;
    color: #5d54cd !important;

    & .divider {
      color: #5d54cd !important;
      opacity: 1 !important;
      font-size: 17px !important;
    }
  }

  & .lingvo-icon_trash {
    cursor: pointer;
    transition: 0.2s;
    margin: 0 0 0 17px;
    vertical-align: middle;

    &:hover {
      background-color: #db4e4e;
    }
  }
}
/* /lingvo cognate language header */

/* lingvo perspective component text */
.lingvo-perspective-component-text {
  margin: 0;
  font-family: Rubik, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  & a {
    color: #5d54cd;

    &:hover {
      color: #5d54cd;
      text-decoration: underline;
    }

    &:active {
      color: #372f9d;
    }
  }

}
/* /lingvo perspective component text */

/* lingvo searching options */
.lingvo-search-entities__checkboxes {
  margin-left: 1.5em;
  border: gray solid;
  border-radius: 15px;
  padding: 0.25em;

  .lingvo-checkbox_labeled {
    margin-right: 1.5em;
    padding: 0.25em;

    & label {
      color: white !important;
      font-size: 1.2em !important;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/* /lingvo searching options */
