.version-route {
    text-align: center;
    padding: 0 20px;

    .version-block {
        border-radius: 12px;
        margin-top: 108px;
        text-align: left;
        background-color: white;
        display: inline-block;
        padding: 25px 20px 38px 20px;
        box-shadow: 0px 100px 309px rgba(210, 208, 225, 0.24), 0px 41.7776px 129.093px rgba(210, 208, 225, 0.172525), 0px 22.3363px 69.0192px rgba(210, 208, 225, 0.143066), 0px 12.5216px 38.6916px rgba(210, 208, 225, 0.12), 0px 6.6501px 20.5488px rgba(210, 208, 225, 0.0969343), 0px 2.76726px 8.55082px rgba(210, 208, 225, 0.0674749);

        & .help {
            text-align: center;
            font-family: Mulish;
            font-weight: 900;
            font-size: 24px;
            line-height: 30px;
            margin: 0 0 20px 0;
        }

        & .version {
            font-weight: normal;
            font-size: 16px;
            line-height: 19.75px;
        }
    }
}
