.version-route {
    text-align: center;
    .version-block {
        border-radius: 12px;
        margin-top: 100px;
        text-align: center;
        background-color: white;
        display: inline-block;
        padding: 0 30px 30px 30px;
        .version {
            padding-top: 15px;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
        }
    }
}
