.compare-content {
  display: flex;
  flex-direction: column;
  height: 65vh;
  min-height: 450px;

  &__table {
    height: 100%;
    overflow-y: auto;

    & .ui.table thead th {
      position: relative;
      position: sticky;
      top: 0;
      z-index: 1;

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        position: static;
      }
    }
  }
}

.lingvo-popup-parallel-compare {
  &.ui.popup {
    max-width: 500px !important;
  }

  &.visible.transition {
    display: none !important;
  }

  &_visible {
    &.visible.transition {
      display: block !important;
    }
  }
}

.hidden-marker-label {
  display: none;
}

.xlsx-link-label {
  float: left;
  margin: 10px 0 0 16px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration-line: underline;
  color: #5d54cd;

  &:hover {
    color: #5d54cd;
    text-decoration: underline;
  }

  &:active {
    color: #372f9d;
  }
}
