.toolsRoute {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    .background-img {
      position: absolute;
      background-image: url(../../images/tools.jpg);
      background-repeat: no-repeat; 
      background-position: center center;
      background-size: contain;
      width: 800px;
      height: 450px;
      opacity: 0.5;
      z-index: -1;
    }
    .img-block {
      p {
        padding-left: 0;
      }
      margin-left: 62px;
      display: inline-block;
      .img {
        cursor: pointer;
        width: 150px;
        height:93px ;
        z-index: 100;
        top: 10%;
      }
    }
    p {
      font-weight: bold;
      color: white;
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
    }
  }