.toolsRoute {
    position: relative;
    margin: 0 auto;

    .tools-header {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 64px;
      text-align: center;
      font-family: Rubik, Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 18.75px;
      color: #fff;
    }

    @media only screen and (max-device-width: 1255px), only screen and (max-width: 1255px) {
      max-width: 850px;
    }

    @media only screen and (max-device-width: 1000px), only screen and (max-width: 1000px) {
      max-width: 550px;
    }
   
  }