.organizationRoute {

  .background-img {
    background-image: url(../../images/organization.jpg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
    width: 200px;
    height: 150px;
    cursor: pointer;

    display: inline-block;
  }
  .container{
    margin-top: 100px;
  }
  .block{
     display: inline-block; 
     margin-left: 50px;
  }
  .column-icon{
    position: relative;
left: 17%;
  }
  p {
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
}