.organizationRoute {
    position: relative;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    .background-img {
      position: absolute;
      background-image: url(../../images/organization.jpg);
      background-repeat: no-repeat; /* Отменяем повторение фона */
      background-position: center center;
      background-size: contain;
      width: 800px;
      height: 600px;
      opacity: 0.5;
      z-index: -1;
    }
    p {
      font-weight: bold;
      color: white;
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  