.news-widget {
    width: 300px;
    padding: 10px;
    border: 2px solid white;
    color: white;
    background: black;
    float: right;
    a{
      font-size: 16px;
      font-weight: bold;
      color:white;
      text-decoration: underline;
    }
    li{
      text-align: left;
      margin-bottom: 10px;
    }
  }