.sync-content {
  display: flex;
  flex-direction: column;
  height: 65vh;
  min-height: 450px;

  &__table {
    height: 100%;
    overflow-y: auto;

    & .ui.table thead th {
      position: relative;
      position: sticky;
      top: 0;
      z-index: 1;

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        position: static;
      }

      &.th-type {
        width: 50px;
        text-align: center;
      }

      &.th-date {
        width: 120px;
        color: #b55b27;
      }

      &.th-name {
        color: #5d54cd;
      }
    }

    & .ui.table tr td {
      &:last-child {
        border-radius: 0 8px 8px 0 !important;

        @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
          border-radius: 0 0 8px 8px !important;
        }
      }

      &.td-type {
        width: 50px;
        font-weight: bold;
        padding: 0 !important;

        & .lingvo-sync-type {
          display: inline-block;
          padding: 16px;
          min-width: 50px;
          text-align: center;
          //color: #a66a12;
          color: #b55b27;

          @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
            display: block;
            padding: 6px 12px;
            text-align: left;
          }
        }
      }

      &.td-date {
        width: 120px;
      }

      &.td-color {
        //background-color: #e9f2a1 !important;
        background-color: #57b895ce !important;
      }

      &.td-date-sync {
        //background-color: #feffd7 !important;
        background-color: #fdff9c !important;

        &::before {
          content: "";
          position: absolute;
          left: -2px;
          top: 0;
          bottom: 0;
          width: 1px;
          //border-right: 2px solid #feffd7;
          border-right: 2px solid #fdff9c;
          font-size: 0;
        }
      }
    }

    & .ui.table tr td.td-type + td.td-color {
      &::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 0;
        bottom: 0;
        width: 1px;
        border-right: 2px solid #57b895ce;
        font-size: 0;
      }
    }

    & .ui.table tr td.td-date-sync + td.td-date {
      &::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 0;
        bottom: 0;
        width: 1px;
        border-right: 2px solid #fff;
        font-size: 0;
      }

      &.td-color {
        &::before {
          border-color: #57b895ce;
        }
      }
    }

    & .ui.table tr:nth-child(2n) td {
      &.td-color {
        //background-color: #dee98a !important;
        background-color: #57b894 !important;
      }

      &.td-date-sync {
        //background-color: #f7f8c2 !important;
        background-color: #fcff79 !important;

        &::before {
          //border-color: #f7f8c2;
          border-color: #fcff79;
        }
      }
    }

    & .ui.table tr:nth-child(2n) td.td-type + td.td-color {
      &::before {
        border-color: #57b894;
      }
    }

    & .ui.table tr:nth-child(2n) td.td-date-sync + td.td-date {
      &::before {
        border-color: #fafafa;
      }

      &.td-color {
        &::before {
          border-color: #57b894;
        }
      }
    }
  }
}

.sync-transcript {
  float: left;
  text-align: left;
  background-color: #f5f5f5;
  //font-weight: bold;
  //color: #a66a12;
  //color: #b55b27;
  padding: 10px 16px;
  border-radius: 8px;
  position: relative;
  top: -12px;

  &__block {
    float: left;
    margin: 0 15px 0 0;

    & p {
      margin: 0 0 5px 0;
    }
  }

  &__type {
    font-weight: bold;
    color: #b55b27;
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    top: -7px;
  }
}

.actions .lingvo-button-greenest {
  &_sync {
    min-height: 40px !important;
    border-radius: 12px !important;
  }
}
