.linker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .main-select {
    width: 200px;
  }

  .blob {
    display: grid;
    padding: 0.5em 0;
    width: 100%;
    grid-template-columns: 200px 1fr 20px;
    grid-template-rows: auto;

    grid-template-areas: "name columns checkbox";

    border-bottom: 1px solid gray;

    .blob-name {
      width: 200px;
      text-align: center;
      grid-area: name;
    }

    .blob-columns {
      display: flex;
      overflow: auto;
      grid-area: columns;
    }

    .blob-checkbox {
      grid-area: checkbox;
    }
  }
}
