.version {
  user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -webkit-user-select: text !important;
  cursor: auto;
}

.ui.menu .ui.dropdown .menu .version > .item:hover {
  background: transparent !important;
  color: rgb(0, 0, 0) !important;
}

.ui.dropdown .menu .version > .item {
  cursor: auto;
}

/* modal */

.lingvo-modal {
  border-radius: 32px !important;
  width: 455px !important;

  & > :first-child:not(.icon),
  & > .icon:first-child + * {
      border-top-left-radius: 32px !important;
      border-top-right-radius: 32px !important;
  }

  & > :last-child {
      border-bottom-left-radius: 32px !important;
      border-bottom-right-radius: 32px !important;
  }
  
  & > .content.lingvo-modal-content {
    padding: 55px 40px !important;
    background: #FAFAFA !important;
  }

  & i.icon.close:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-color: #fff !important;
    -webkit-mask-image: url("../images/close.svg");
    mask-image: url("../images/close.svg");
   
    @media only screen and (max-width: 991px) { 
      & {
        background-color: #372F9D !important;
      }
    }
  }

  & .ui.header {
    font-family: Rubik, Arial, sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #333;

    .sub.header {
      font-family: Karla, Arial, sans-serif;
      font-weight: normal;
      font-size: 15px !important;
      color: #333;
      margin-top: 5px;
    }

    .spinner {
      display: inline-block !important;
      margin-top: 10px;
    }
  }

  & .ui.form .field > label {
    font-weight: 500 !important;
    font-size: 16px;
  }

  & .ui.form input {
    border-radius: 10px !important;
    font-family: Rubik, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19.5px;
    padding: 17px 22px;

    &:focus {
      border-color: #5D54CD;
    }
  }

  & .ui.button {
    border-radius: 16px !important;
    font-family: Rubik, Arial, sans-serif;
    font-weight: 500;
  }

  & .ui.huge.button {
    font-size: 22px;
    line-height: 28.6px;
    margin-top: 26px;
  }

  & .ui.violet.button {
    background: #5D54CD !important;

    &:hover {
      background: #333 !important;
    }

    &.disabled,
    &:disabled {
      background: #fff !important;
      box-shadow: 0px 0px 0px 1px #333 inset !important;
      color: #333 !important;
      opacity: 0.45 !important;
    }
  }

  & .ui.message {
    border-radius: 10px !important;
  }

  @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
    & {
      width: 95% !important;
    }
  }

}
/* /modal */

/* modal2 */
.lingvo-modal2 {
  border-radius: 12px !important;

  & > :first-child:not(.icon),
  & > .icon:first-child + * {
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px !important;
  }

  & > :last-child {
      border-bottom-left-radius: 12px !important;
      border-bottom-right-radius: 12px !important;
  }
  
  & i.icon.close:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-color: #fff !important;
    -webkit-mask-image: url("../images/close.svg");
    mask-image: url("../images/close.svg");
   
    @media only screen and (max-width: 991px) { 
      & {
        background-color: #372F9D !important;
      }
    }
  }

  &.ui.fullscreen.modal {
    left: auto !important;

    & i.icon.close:before {
      background-color: #372F9D !important;
    }
  }

}
/* /modal2 */

